<!--
/**
 * Removing Get Product Details link from Thumbnail
 *  
 * @category    Arb
 * @package     Arb_CustomWebkul
 * @author Arb Magento Team
 */
-->

<div class="thumbnail-preview" data-role="thumbnail-preview">
    <div class="thumbnail-preview-image-block">
        <img class="thumbnail-preview-image" src="<%- src %>" alt="<%- alt %>" />
    </div>
</div>
