<?php
/**
 *
 * @codeCoverageIgnore
 */
/* @var $block \Arb\ArbCardsListing\Block\System\Config\Button */ ?>

<?php //$controller = $block->getCustomUrl();
echo $block->getButtonHtml();
?>
<span class="collect-indicator" id="collect_span">
    <img class="processing" hidden="hidden" alt="Collecting" style="margin:0 5px" src="<?php echo $block->getViewFileUrl('images/process_spinner.gif') ?>"/>
    <img class="collected" hidden="hidden" alt="Collected" style="margin:-3px 5px" src="<?php echo $block->getViewFileUrl('images/rule_component_apply.gif') ?>"/>
    <span id="collect_message_span"></span>
</span>
<script>
  require([
    'jquery',
    'prototype'
  ], function(jQuery){

    var collectSpan = jQuery('#collect_span');

    jQuery('#delete_cache').click(function () {
      var params = {};
      new Ajax.Request('<?php echo $block->deleteCardsCache() ?>', {
        parameters:     params,
        loaderArea:     false,
        asynchronous:   true,
        onCreate: function() {
          collectSpan.find('.collected').hide();
          collectSpan.find('.processing').show();
          jQuery('#collect_message_span').text('');
        },
        onSuccess: function(response) {
          console.log(response);
          collectSpan.find('.processing').hide();

          var resultText = '';
          if (response.status > 200) {
            resultText = response.statusText;
          } else {
            resultText = 'Success';
            collectSpan.find('.collected').show();
          }
          jQuery('#collect_message_span').text(resultText);


        }
      });
    });

  });
</script>
