<?php
/**
 * Merchant Dashboard
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
/** @var $block \Webkul\Marketplace\Block\Account\Dashboard */

/** webkul module default coding */
// phpcs:disable
$helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
$captchaEnableStatus = $helper->getCaptchaEnable();
$orderHelper = $this->helper(\Webkul\Marketplace\Helper\Orders::class);
// phpcs:enable
$total_products = !empty($block->getTotalProducts()) ? $block->getTotalProducts() : 0;
$total_orders = !empty($block->getTotalOrders()) ? $block->getTotalOrders() : 0;
?>
<style type="text/css">
    .wk-dashboard-sales-value {
        color: #eb5202;
    }
    .wk-dashboard-sales-font {
        font-size: 25px;
    }
    .button {
        padding: 4px 15px;
    }
    .set-border {
        border:1px solid #cccccc;
    }
    .wk-mp-design-block{
        width: 100%;display: inline-block;
    }
    /** set the inline style in style tag    */
    .set-border-inline {
        border-bottom: 1px solid #ccc;display: inline-block;width: 100%;
    }
    .set-floatLeft {
        float:left;
    }
    .set-Padding5 {
        padding:5px;
    }
    .set-border-padding {
        border-bottom: 1px solid #ccc;padding:5px;
    }
    .set-floatRight-padding {
        float:right;padding: 2px;
    }
    .setGreen-font {
        color: green;font-weight: 600;
    }
    .set7-padding {
        padding:7px 7px 0px 7px;
    }
</style>
<!-- Removed the Ask to Admin button -->
<div class="wk-mp-design wk-mp-design-block">
    <div class="mp-sales-widgets">
        <div class="sales" >
            <div class="sales set-border">
                <div class="set-border-padding">
                    <?= /* @noEscape */ __('Total Products') ?>
                </div>
                <div class="set-Padding5">
                    <strong class="wk-dashboard-sales-value wk-dashboard-sales-font">
                        <span class="price">
                        <?= /* @noEscape */ $total_products; ?>
                        </span>
                    </strong>
                </div>
            </div>
        </div>
        <div class="sales" >
            <div class="sales set-border">
                <div class="set-border-padding">
                    <?= /* @noEscape */ __('Total Orders') ?>
                </div>
                <div class="set-Padding5">
                    <strong class="wk-dashboard-sales-value wk-dashboard-sales-font">
                        <span class="price">
                        <?= /* @noEscape */ $total_orders; ?>
                        </span>
                    </strong>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="wk-mp-design wk-mp-design2">
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend"><span><?= /* @noEscape */ __('Latest Order') ?></span></legend>
        <div class="grid">
            <div class="hor-scroll">
                <?php
                if (count($block->getCollection())==0) { ?>
                    <div class="fieldset wk-mp-fieldset">
                        <div class="wk-emptymsg">
                            <?= /* @noEscape */ __('No Order Available') ?>
                        </div>
                    </div>
                    <?php
                } else { ?>
                    <?php $i=0;
                    foreach ($block->getCollection() as $res) {
                        $order = $block->getMainOrder($res['order_id']);
                        $state=$order->getState();
                        $status=$order->getStatus();
                        $name=$order->getCustomerName();
                        $tracking=$orderHelper->getOrderinfo($res['order_id']);
                        if ($tracking->getData('order_status') === 'pending') {
                            $state = 'new';
                        }
                        if ($tracking->getIsCanceled()) {
                            $state='canceled';
                            $status='Canceled';
                        } else if ($tracking->getShipmentId() && $order->getStatus() !== 'complete') {
                            $state = 'complete';
                            $status = 'Shipped';
                        }

                        if ($res['order_id']>0 && $i<6) {
                            $i++;?>
                            <!-- fixed the phpcs error -->
                            <div class="wk-orderbox <?php if ($i==1) {
                                echo "wk-first-order";
                                                    }?>">
                                <div class="set7-padding">
                                    <div class="wk-orderbox-content1">
                                        <div class="wk-orderbox-details">
                                            <div class="color">
                                                <!-- fixed the phpcs error -->
                                                <span class="wk-ordertitle-label">
                                                    <?= /* @noEscape */ __('Order') ?>
                                                </span> 
                                                <!-- added the order Id in view -->
                                                <strong>#<?= $block->escapeHtml($res['magerealorder_id']); ?></strong>
                                            </div>
                                            <div class="name">
                                                <?= /*@noEscape */  $block->getpronamebyorder($res['order_id'])?>
                                            </div>
                                            <!-- fixed the phpcs error -->
                                            <a href="<?=
                                                        $block->escapeUrl(
                                                            $block->getUrl(
                                                                'marketplace/order/view',
                                                                ['id'=>$res['order_id'],
                                                                '_secure' => $block->getRequest()->isSecure()]
                                                            )
                                                        )?>">
                                                    <button 
                                                        class="button" 
                                                        title="<?= /* @noEscape */ __('View Order') ?>" 
                                                        type="button">
                                                        <span>
                                                            <span>
                                                                <span>
                                                                <?= /* @noEscape */ __('View Order') ?>
                                                                </span>
                                                            </span>
                                                        </span>
                                                    </button>
                                                </a>
                                            
                                        </div>
                                        <div class="wk-dash-orderstatus">
                                            <label for="name" class="wk-dash-label">
                                                <!-- fixed the phpcs error -->
                                                <div class="status <?= $block->escapeHtml(strtolower($state)); ?>">
                                                    <?= $block->escapeHtml(strtoupper(__($status))); ?>
                                                </div>

                                            </label>
                                        </div>
                                    </div>
                                    <div class="wk-orderbox-content2">
                                        <div class="wk-orderbox-details">
                                            <?php if ($helper->getSellerProfileDisplayFlag()) { ?>
                                                <!-- fixed the phpcs error -->
                                                <span class="wk-title-label">
                                                    <?= /* @noEscape */ __('Customer: ');?>
                                                </span>
                                                <span class="wk-label">
                                                    <?= $block->escapeHtml($name);?>
                                                </span>
                                            <?php } ?>
                                            <span class="wk-title-label"><?= /* @noEscape */ __('Date: ');?></span>
                                            <span class="wk-label">
                                                <?= /* @noEscape */ $block->formatDate($res['created_at'])?>
                                            </span>
                                        </div>
                                        <div class="wk-orderbox-total">
                                            <span class="wk-title-label">
                                                <?= /* @noEscape */ __('Order Total (Base)- ');?>
                                            </span>
                                            <span class="wk-label">
                                                <strong>
                                                    <?php
                                                    $orderPrice = $block->getPricebyorder($res['order_id']);
                                                    /* @noEscape */echo $order->formatBasePrice($orderPrice);
                                                    ?>
                                                </strong>
                                            </span>
                                            <div>
                                            <span class="wk-title-label">
                                                <?= /* @noEscape */ __('Order Total (Purchased)- ');?>
                                            </span>
                                            <span class="wk-label">
                                                <strong>
                                                    <?=
                                                    /* @noEscape */ $order->formatPrice(
                                                            $block->getOrderedPricebyorder(
                                                                $res['currency_rate'], $orderPrice));
                                                    ?>
                                                </strong>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wk-clear"></div>
                        <?php }
                    }     ?>
                    <?php
                }?>
            </div>
        </div>
    </fieldset>
</div>
<?php if ($helper->getSellerProfileDisplayFlag()) { ?>
    <div class="wk-mp-design wk-mp-design2">
        <fieldset class="fieldset info wk-mp-fieldset">
            <legend class="legend"><span><?= /* @noEscape */ __('Latest Comments & Reviews') ?></span></legend>
            <div class="grid">
                <div class="hor-scroll">
                    <?php
                    $ratings=[];
                    $products=[];
                    $rate=[];
                    $reviewcollection=$block->getReviewcollection();
                    if (count($reviewcollection)==0) { ?>
                        <div class="wk-emptymsg">
                            <?= /* @noEscape */ __('no comment & review available'); ?>
                        </div>
                        <?php
                    } else {
                        $i=0;
                        foreach ($reviewcollection as $keyed) {
                            $name=$block->getCustomer()->load($keyed->getBuyerId())->getName();
                            $i++; ?>
                            <!-- fixed the phpcs error -->
                            <div class="wk-orderbox <?php if ($i==1) {
                                echo "wk-first-order";
                                                    } ?>">
                                <div class="set7-padding">
                                    <div class="wk-orderbox-content1">
                                        <div class="wk-feedback-details">
                                            <div class="mpfeedback">
                                                <div class="price">
                                                    <span class="wk-ordertitle-label wk-span">
                                                        <?= /* @noEscape */ __('Price') ?> 
                                                    </span>
                                                    <span class="wk-ordertitle-label">:</span>
                                                    <div class="ratingslider-box">
                                                        <div 
                                                            class="rating" 
                                                            style="width:<?= /* @noEscape */
                                                            ceil($keyed['feed_price']);?>%;">
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="value">
                                                    <span class="wk-ordertitle-label wk-span">
                                                        <?= /* @noEscape */ __('Value') ?> 
                                                    </span>
                                                    <span class="wk-ordertitle-label">:</span>
                                                    <div class="ratingslider-box" >
                                                        <div 
                                                            class="rating" 
                                                            style="width:<?= /* @noEscape */
                                                            ceil($keyed['feed_value']);?>%;">
                                                        </div>
                                                    </div>
                                                    <div class="clear"></div>
                                                </div>
                                                <div class="quality">
                                                    <span class="wk-ordertitle-label wk-span">
                                                        <?= /* @noEscape */ __('Quality') ?> 
                                                    </span>
                                                    <span class="wk-ordertitle-label">:</span>
                                                    <div class="ratingslider-box">
                                                        <div 
                                                            class="rating" 
                                                            style="width:<?= /* @noEscape */
                                                            ceil($keyed['feed_quality']);?>%;">
                                                        </div>
                                                    </div>
                                                    <div class="wk-clear"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="wk-feedback-desc">
                                            <div class="comment"><?= $block->escapeHtml($keyed['feed_review']); ?></div>
                                        </div>
                                    </div>
                                    <div class="wk-orderbox-content2">
                                        <div class="wk-orderbox-details">
                                            <span class="wk-title-label"><?= /* @noEscape */ __('Customer: ');?></span>
                                            <span class="wk-label"><?= $block->escapeHtml($name);?></span>
                                            <span class="wk-title-label"><?= /* @noEscape */ __('Date: ');?></span>
                                            <span class="wk-label">
                                                <?= $block->escapeHtml($keyed['created_at']) ?>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="wk-clear"></div>
                            <?php
                        }    ?>
                        <?php
                    } ?>
                </div>
            </div>
        </fieldset>
    </div>
<?php } ?>
<!-- Ask Question to Admin form removed -->
<div class="buttons-set">
    <p class="back-link">
        <a href="javascript:;" onclick="javascript: window.history.back();" class="left">
            &laquo; <?= /* @noEscape */ __('Back') ?>
        </a>
    </p>
</div>
<?php
//fixed phpcs block view
$formData = [
    'loader'                =>  $block->getViewFileUrl('images/loader-2.gif'),
    'mpLocationChartSelector'   =>  '#wk-location-chart',
    'mpYearLocationChartSelector'   =>  '#wk-location-chart-year',
    'mpAskDataSelector'    =>  '#wk-mp-ask-data',
    'askQueSelector'        =>  '#askque',
    'askFormSelector'       => '#ask-form',
    'askFormInputSelector'  =>  '#ask-form input',
    'askFormTextareaSelector' =>    '#ask-form textarea',
    'pageWrapperSelector'   =>  '.page-wrapper',
    'mpModelPopupSelector'  =>  '.wk-mp-model-popup',
    'showClass'             =>  '_show',
    'mageErrorClass'        =>  'mage-error',
    'resetBtnSelector'      =>  '#resetbtn',
    'wkCloseSelector'       =>  '.wk-close',
    'validationFailedSelector'  =>  '.validation-failed',
    'askFormValidationFailedSelector'   =>  '#ask-form .validation-failed',
    'askFormValidationAdviceSelector'   =>  '#ask-form .validation-advice',
    'askFormErrorMailSelector'          =>  '#ask-form .errormail',
    'askBtnSelector'        =>  '#askbtn',
    'mpCaptcha1Selector'    =>  '#wk-mp-captchalable1',
    'mpCaptcha2Selector'    =>  '#wk-mp-captchalable2',
    'mpCaptchaSelector'     =>  '#wk-mp-captcha',
    'mailProcssClass'       =>  'mail-procss',
    'captchaEnableStatus'   =>  $captchaEnableStatus,
    'ajaxMailSendUrl'       =>  $block->getUrl(
        "marketplace/account/askquestion",
        ["_secure" => $block->getRequest()->isSecure()]
    ),
    'ajaxChartUrl'      =>  $block->getUrl(
        "marketplace/account/chart",
        ["_secure" => $block->getRequest()->isSecure()]
    )
];

/** webkul module default coding, skipped the phpcs validation as per the webkul module default coding */
// phpcs:disable
$serializedFormData = $this->helper(\Magento\Framework\Json\Helper\Data::class)->jsonEncode($formData);
// phpcs:enable
?>
<script type="text/x-magento-init">
    {
        "*": {
            "sellerDashboard": <?= /* @noEscape */ $serializedFormData; ?>
        }
    }
</script>
<script>
    require([
        'jquery'
    ], function ($) {
        $('body').on('click', '.wk-mp-approv-btn', function () {
            let confirmation = confirm('<?= /* @noEscape */ __('Are you sure you want to approve the order?') ?>'),
                order_id = $(this).attr('order-id');
            if (confirmation) {
                $.ajax({
                    url: '<?= $block->escapeJs($block->escapeUrl($block->getUrl('marketplace/order/approve'))); ?>',
                    data: {order_id: order_id},
                    type: 'post',
                    showLoader: true,
                    success: function (response) {
                        document.getElementById('wk-approval-text-' + order_id).innerHTML = response.message;
                    },
                    error: function () {
                        document.getElementById('wk-approval-text-'+order_id).innerHTML
                            = '<?= $block->escapeHtml(__('There has been an error processing your request. Please reload the page and try again.')) ?>';
                    }
                });
            }
        });
    });
</script>