<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$helper = $block->getHelper();
$storeId = $helper->getStore()->getId();
$mpHelper = $block->getMpHelper();
$jsonHelper = $block->getJsonHelper();
$isSeller = $mpHelper->isSeller();
$mediaUrl = $mpHelper->getMediaUrl();
$customer = $block->loadCustomer();
$vendorAttributes = $block->getAttributeCollection($isSeller);
if ($helper->getConfigData('group_display') && $customer->getIsVendorGroup()) {
    $vendorAttributes = $block->getAttributeCollectionByGroup($customer->getIsVendorGroup(), $isSeller);
}
if ($isSeller && $vendorAttributes):
    ?>
<div class="wkeditprofile">
    <form action="<?= $block->escapeUrl($block->getActionUrl()); ?>"
        enctype="multipart/form-data" method="post" data-role="form-profile-validate"
        data-mage-init='{"validation":{}}'>
        <?= /**@escapeNotVerified */ $block->getBlockHtml('formkey');?>
        <?= /**@escapeNotVerified */ $block->getBlockHtml('seller.formkey')?>

        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset custom-fieldset">
                <div class="wk-mp-page-title page-title">
                    <button class="button wk-mp-btn" t
                        itle="<?= /**@escapeNotVerified */ __('Save Attributes') ?>" type="submit" id="save-btn">
                        <span><span><?= /**@escapeNotVerified */ __('Save Attributes') ?></span></span>
                    </button>
                    <legend class="legend"><span>
                        <?= /**@escapeNotVerified */ $block->getConfigData('profile_label') ?>
                    </span></legend>
                </div>

                <?php
                foreach ($vendorAttributes as $vendorAttribute) {
                    $isRequired = $block->checkIfRequired($vendorAttribute->getId());
                    ?>
                    <div class="field profile <?= /**@escapeNotVerified */ $isRequired ? 'required' : '' ?>">
                        <label for="<?= /**@escapeNotVerified */ $vendorAttribute->getStoreLabel($storeId); ?>"
                            class="label">
                            <span><?= /**@escapeNotVerified */ $vendorAttribute->getStoreLabel($storeId); ?></span>
                        </label>
                        <div class="control">
                            <?php
                            $attributeCode = $vendorAttribute->getAttributeCode();

                            switch ($vendorAttribute->getFrontendInput()) {
                                case "text":
                                    ?>
                                <input type="text" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                    value="<?= /**@escapeNotVerified */
                                        $block->escapeHtml($customer->getData($attributeCode)); ?>"
                                    <?= $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                    class="input-text validate-no-html-tags
                                        <?= /**@escapeNotVerified */ $vendorAttribute->getFrontendClass(); ?>"
                                    autocomplete="off" />
                                    <?php
                                    break;
                                case "textarea":
                                    ?>
                                <textarea name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                    <?= $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                    class="input-text validate-no-html-tags
                                    <?= /**@escapeNotVerified */ $vendorAttribute->getFrontendClass(); ?>
                                    "
                                    ><?= /**@escapeNotVerified */ $customer->getData($attributeCode); ?></textarea>
                                    <?php
                                    break;
                                case "date":
                                    $attributeValue = $customer->getData($attributeCode);
                                    $dateValue = $block->convertDateFormat($attributeValue);
                                    ?>
                                <input type="text" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    value="<?= /**@escapeNotVerified */ $dateValue; ?>"
                                                    class="dob_type validate-no-html-tags<?= /**@escapeNotVerified */
                                                        $vendorAttribute->getFrontendClass(); ?>"
                                                    <?= $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                                    autocomplete="off" />
                                    <?php
                                    break;
                                case "boolean":
                                    $value = $customer->getData($attributeCode);
                                    ?>
                                <input type="checkbox" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                       id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                       class="input-text <?= /**@escapeNotVerified */
                                                        $vendorAttribute->getFrontendClass(); ?>"
                                                       value="<?= /**@escapeNotVerified */
                                                        $customer->getData($attributeCode); ?>"
                                                       onchange="this.value = this.checked ? 1 : 0;"
                                                       <?= $isRequired ? 'data-validate="{required:true}"': ''?>
                                                       <?= /**@escapeNotVerified */
                                                        $customer->getData($attributeCode) ? 'checked' : '' ; ?> />
                                    <?php
                                    break;
                                case "multiselect":
                                    $options = $vendorAttribute->getSource()->getAllOptions();
                                    $selectedoptions = $customer->getData($attributeCode);
                                    ?>
                                <select name="<?= /**@escapeNotVerified */ $attributeCode; ?>[]"
                                        id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        class="input-select <?= /**@escapeNotVerified */
                                            $vendorAttribute->getFrontendClass(); ?>"
                                        <?= $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                        multiple="multiple">
                                        <?php
                                        foreach ($options as $option) {
                                            $selected = in_array(
                                                $option['value'],
                                                $selectedoptions
                                            ) ? "selected" : ""; ?>
                                        ?>
                                            <option  value="<?= /**@escapeNotVerified */ $option['value'] ?>"
                                                <?= /**@escapeNotVerified */ $selected; ?>>
                                                <?= /**@escapeNotVerified */ $option['label'] ?>
                                            </option>
                                        <?php } ?>
                                </select>
                                    <?php
                                    break;
                                case "select":
                                    $options = $vendorAttribute->getSource()->getAllOptions();
                                    $selectedOption = $customer->getData($attributeCode);
                                    ?>
                                <select name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        class="input-select <?= /**@escapeNotVerified */
                                            $vendorAttribute->getFrontendClass(); ?>"
                                        >
                                        <?= $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                        <?php
                                        foreach ($options as $option) {
                                            $selected = ($option['value'] == $selectedOption) ? "selected" : ""; ?>
                                        ?>
                                            <option  value="<?= /**@escapeNotVerified */ $option['value'] ?>"
                                            <?= /**@escapeNotVerified */ $selected; ?>>
                                            <?= /**@escapeNotVerified */ $option['label'] ?></option>
                                        <?php } ?>
                                </select>
                                    <?php
                                    break;
                                case "image":
                                    $imageValue = $customer->getData($attributeCode);
                                    if (isset($imageValue) && $imageValue != 1) {
                                        $imageUrl = $mediaUrl."vendorfiles/image/".$imageValue;
                                    }
                                    ?>

                                    <input type="file" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        data-allowed="<?= /**@escapeNotVerified */
                                            $helper->getConfigData('allowede_image_extension') ?>"
                                        class="custom_file <?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        <?= /**@escapeNotVerified */
                                            $isRequired && !isset($imageUrl) ? 'data-validate="{required:true}"' : ''?>
                                        data-value="<?= /**@escapeNotVerified */ $imageValue; ?>" />

                                    <?php if (isset($imageValue) && $imageValue != 1) { ?>
                                    <a href="<?= /**@escapeNotVerified */ $imageUrl ?>"
                                        onclick="imagePreview('customfields_your_image_image'); return false;">
                                        <img alt="<?= /**@escapeNotVerified */ __("Preview Image"); ?>" 
                                            src="<?= /**@escapeNotVerified */ $imageUrl ?>"
                                            id="customfields_your_image_image"
                                            title="<?= /**@escapeNotVerified */ __("Preview Image"); ?>"
                                            height="22" width="22" class="small-image-preview v-middle">
                                    </a>
                                        <?php if (!$isRequired && isset($imageValue) && $imageValue != 1) { ?>
                                    <span class="delete-image">
                                        <input type="checkbox"
                                            name="<?= /**@escapeNotVerified */ $attributeCode; ?>['delete']"
                                            value="" onchange="this.value = this.checked ? 1 : 0;"
                                            class="checkbox">
                                        <label for="customfields_your_image_delete">
                                            <?= /**@escapeNotVerified */ __('Delete Image') ?></label>
                                    </span>
                                    <input type="hidden"
                                        name="customer['<?= /**@escapeNotVerified */ $attributeCode; ?>']"
                                        value="<?= /**@escapeNotVerified */ $imageValue; ?>" />
                                <?php } ?>
                                <br/>
                                <span class="note">
                                        <?= /**@escapeNotVerified */ __("Allowed Extension's : "); ?>
                                    <span><?= /**@escapeNotVerified */
                                        $helper->getConfigData('allowede_image_extension') ?></span>
                                </span>
                                <?php } ?>
                                    <?php
                                    break;
                                case "file":
                                    $fileValue = $customer->getData($attributeCode);
                                    if (isset($fileValue) && $fileValue != 1) {
                                        $fileUrl = $mediaUrl."vendorfiles/file/".$fileValue;
                                    }
                                    ?>
                                  <input type="file" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    data-allowed="<?= /**@escapeNotVerified */
                                                        $helper->getConfigData('allowede_file_extension') ?>"
                                                    class="custom_file <?= /**@escapeNotVerified */ $attributeCode; ?> "
                                                    <?= /**@escapeNotVerified */ $isRequired && !isset($fileUrl) ?
                                                        'data-validate="{required:true}"' : '' ?>
                                                    data-value="<?= /**@escapeNotVerified */ $fileValue; ?>" />
                                    <?php if (!$isRequired && isset($fileValue) && $fileValue != 1) { ?>
                                    <span class="delete-image">
                                        <input type="checkbox"
                                            name="<?= /**@escapeNotVerified */ $attributeCode; ?>['delete']"
                                            value="" onchange="this.value = this.checked ? 1 : 0;"
                                            class="checkbox">
                                        <label for="customfields_your_image_delete"><?= /**@escapeNotVerified */
                                             __('Delete File') ?></label>
                                    </span>
                                    <input type="hidden"
                                        name="customer['<?= /**@escapeNotVerified */ $attributeCode; ?>']"
                                        value="<?= /**@escapeNotVerified */ $fileValue; ?>" />
                                <?php } ?>
                                <br/>
                                <span class="note">
                                    <?= /**@escapeNotVerified */ __("Allowed Extension's : "); ?>
                                    <span><?= /**@escapeNotVerified */
                                        $helper->getConfigData('allowede_file_extension') ?>
                                    </span>
                                </span>
                                <br>
                                    <?php if (isset($fileValue) && $fileValue != 1) { ?>
                                <a href="<?= /**@escapeNotVerified */ $fileUrl ?>">
                                <img alt="Download" title="Download"
                                    src="<?= /**@escapeNotVerified */
                                         $block->getViewFileUrl(
                                             'Webkul_MpVendorAttributeManager::images/download.gif'
                                         ) ?>"
                                    class="v-middle wk_download_link" style="float: left;width: 22px;" />
                                        <?= /**@escapeNotVerified */ __('Download'); ?>
                                </a>
                                <?php } ?>
                                    <?php
                                    break;
                                default:
                                    ?>
                                <input type="text" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                            id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                            data-type= "<?= /**@escapeNotVerified */
                                                $vendorAttribute->getFrontendType(); ?>"
                                            value=""
                                            class="input-text" autocomplete="off" />
                                    <?php
                            }
                            ?>
                        </div>
                    </div>
                <?php } ?>
            </fieldset>
        </div>
    </form>
</div>
<?php endif; ?>
<?php
    $optionData = [
        'dateField'     => '.dob_type',
        'dateFormat'     => 'yyyy-MM-dd',
        'imageField'    => '.custom_file',
    ];
    $serializedData = $jsonHelper->jsonEncode($optionData);
    ?>
<script type="text/x-magento-init">
{
    "*": {
        "editProfile": <?= /**@escapeNotVerified */ $serializedData; ?>
    }
}
</script>
