<!--
/**
 * Template for SLA Notification Email
 *
 * @category Arb
 * @package Arb_Sla
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "(Alert) You need to take an action. A service level agreement breached happened on "}} {{var sla_breach_date}} @-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->
{{template config_path="design/email/header_template"}}
<table dir="{{var email_content_direction}}">
    <tr>
        <td style="padding:20px 0 20px 0" align="{{var email_content_alignment}}">
            <table cellpadding="10" style="border:1px solid #E0E0E0;background:#FFFFFF;width:650px" dir="{{var email_content_direction}}">
                <tr>
                    <td style="vertical-align: top;" align="{{var email_content_alignment}}">
                        <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">
                            {{trans "Hello"}} {{var user_name}},</h1>
                        <p class="email-p" style="font-size:14px;">{{trans "You need to take an action on ARB marketplace, there is a service level agreement breached happened on "}} {{var sla_breach_date}}.</p>
                    </td>
                </tr>
                <tr>
                    <td align="{{var email_content_alignment}}">
                        <p class="email-p" style="font-size:14px;">{{trans "The SLA breach details are :"}}</p>
                        <br>
                        <p class="email-p" style="font-size:14px;">{{trans "SLA Date :"}} {{var sla_date}}</p>
                        <p class="email-p" style="font-size:14px;">{{trans "SLA Cause :"}} {{var sla_cause}}</p>
                        <p class="email-p" style="font-size:14px;">{{trans "SLA Responsible Person :"}} {{var responsible_person}}</p>
                        <br>
                        <p class="email-p" style="font-size:14px;">{{trans "You can take an action now from here"}} {{var url|raw}}</p>
                    </td>
                </tr>
                <tr>
                    <td style="margin: 0 auto;background:#EAEAEA;text-align:center;" align="{{var email_content_alignment}}">
                        <p class="email-p" style="font-size:12px;margin:0;text-align:center;">
                            <strong>{{trans "We hope to have a successful trade on Alrajhi Marketplace."}}</strong>
                            <br>
                            <strong>{{trans "ARB hotline for Merchants: 1999."}}</strong>
                        </p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
