<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$helper = $block->getHelper();
$jsonHelper = $block->getJsonHelper();
$count = 0;
$fieldset = 0;
$fieldsetTotal = 0;
$collection = $helper->getAttributeCollection(true);
?>
<?php if ($helper->getConfigData('visible_registration') && $collection && $collection->getSize()) { ?>
    <?php if (!$helper->getConfigData('group_display')) {
        $totalAttr = $collection->getSize();
        $storeId = $helper->getStore()->getId();
        foreach ($collection as $attribute):
            $totalAttr--;
            $fieldset++;
            if ($count == 0) { ?>
                <fieldset
                class="fieldset vendorfields form_fields_<?= /**@escapeNotVerified */ $fieldsetTotal; ?> profileurl">

                <?php     if ($fieldsetTotal == 0) { ?>
                    <button id="main" class="button back action primary">
                    <?= /**@escapeNotVerified */ __('Back') ?></button>
            <?php	} else { ?>
                    <button id="<?= /**@escapeNotVerified */ 'form_fields_'.($fieldsetTotal-1); ?>"
                        class="button back action primary"><?= /**@escapeNotVerified */ __('Back') ?>
                        </button>
            <?php	}
                $fieldsetTotal++;
            }
            $allowedeImageExtension = $helper->getConfigData('allowede_image_extension');
            $allowedFileExtension = $helper->getConfigData('allowede_file_extension');
            $attibuteArray = $attribute->toArray();
            $isRequiredArray = explode(' ', $attribute->getFrontendClass());
            $storeLabels = $attribute->getStoreLabels();
            $label = isset($storeLabels[$storeId]) ?
                $storeLabels[$storeId] : $attibuteArray['frontend_label'];
            $getFunction = 'get'.  str_replace(
                ' ',
                '',
                ucwords(str_replace('_', ' ', $attibuteArray['attribute_code']))
            );
            ?>
            <div class="field <?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>
                <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?'required':'' ?>">
            <?php if ($attribute->getFrontendInput() != 'boolean'): ?>
                <label for="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                class="label"><span><?= /**@escapeNotVerified */ $label; ?></span></label>
            <?php endif ?>
                <div class="control">
                    <?php if ($attribute->getFrontendInput() == 'text'): ?>
                        <input type="text" name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                            id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                            value="<?= /**@escapeNotVerified */
                                $block->escapeHtml($block->getFormData()->$getFunction()) ?>"
                            class="input-text <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                                    'data-validate="{required:true}"':'' ?> autocomplete="off">

                    <?php elseif ($attribute->getFrontendInput() == 'textarea'):?>
                        <?php $frontClass = explode(' ', $attribute->getFrontendClass()); ?>
                        <textarea name="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                            id="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                            class="input-text <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                            <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                                'data-validate="{required:true}"':'' ?>
                      data-iswyswyg-enabled = "<?= /**@escapeNotVerified */ in_array('wysiwyg_enabled', $frontClass)?>"
                                ><?= /**@escapeNotVerified */
                                $block->escapeHtml($block->getFormData()->$getFunction()) ?></textarea>

                    <?php elseif ($attribute->getFrontendInput() == 'date'):?>
                        <input type="text" name="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                            id="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>" value=""
                            class="dob_type <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                            <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                            'data-validate="{required:true}"':'' ?> autocomplete="off">
                    <?php elseif ($attribute->getFrontendInput() == 'select' &&
                        !in_array('dependable_field_'.$attibuteArray['attribute_code'], $isRequiredArray)):
                                                $value = $block->escapeHtml($block->getFormData()->$getFunction());
                                                $optiondata = $attribute->getSource()->getAllOptions();
                                                usort($optiondata, function ($a, $b) {
                                                    if (is_numeric($a['value']) && is_numeric($b['value'])) {
                                                        return $a['value'] - $b['value'];
                                                    }
                                                });
                                                ?>
                        <select name="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                            id="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                            class="input-select <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                                <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                                                'data-validate="{required:true}"':'' ?>>
                                                <?php foreach ($optiondata as $instance) { ?>
                                    <option value="<?= /**@escapeNotVerified */ $instance['value'] ?>"
                                                    <?= /**@escapeNotVerified */
                                                        $instance['value'] == $value ? 'selected' : ''; ?>>
                                                    <?= /**@escapeNotVerified */ $instance['label'] ?></option>
                            <?php } ?>
                        </select>
                    <?php elseif ($attribute->getFrontendInput() == 'multiselect'):
                        $values = explode(',', $block->escapeHtml($block->getFormData()->$getFunction()));
                        $optiondata = $attribute->getSource()->getAllOptions();
                        usort($optiondata, function ($a, $b) {
                            if (is_numeric($a['value']) && is_numeric($b['value'])) {
                                return $a['value'] - $b['value'];
                            }
                        });
                        ?>
                        <select name="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>[]"
                            id="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                            class="input-select <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                            <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                                'data-validate="{required:true}"':'' ?> multiple="multiple">
                        <?php foreach ($optiondata as $instance) { ?>
                            <?php if ($instance['value'] != ''):?>
                                    <option value="<?= /**@escapeNotVerified */ $instance['value'] ?>"
                                    <?= /**@escapeNotVerified */ in_array($instance['value'], $values) ?
                                        'selected' : ''; ?>> <?= /**@escapeNotVerified */ $instance['label'] ?>
                                    </option>
                            <?php endif ?>
                            <?php } ?>
                        </select>
                    <?php elseif ($attribute->getFrontendInput() == 'boolean'):?>
                        <input type="checkbox" name="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                             id="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                             class="input-text <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                             <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                                'data-validate="{required:true}"':'' ?> value="1">
                        <label for="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                        class="label <?= /**@escapeNotVerified */
                            in_array('required', $isRequiredArray)?'wkboolreq':'' ?> "><span>
                            <?= /**@escapeNotVerified */ $label; ?></span></label>

                    <?php elseif ($attribute->getFrontendInput() == 'image'):?>
                        <input type="file" name="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                        id="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                        class="input-text custom_file <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                         data-allowed = "<?= /**@escapeNotVerified */ $allowedeImageExtension; ?>"
                         <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                            'data-validate="{required:true}"':'' ?>><br>
                        <span class="note"><span><?= /**@escapeNotVerified */
                        $helper->getConfigData('allowede_image_extension') ?></span></span>

                    <?php elseif ($attribute->getFrontendInput() == 'file'):?>
                        <input type="file" name="<?= /**@escapeNotVerified */
                            $attibuteArray['attribute_code'] ?>"
                            id="<?= /**@escapeNotVerified */ $attibuteArray['attribute_code'] ?>"
                            class="input-text custom_file
                             <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                            data-allowed = "<?= /**@escapeNotVerified */ $allowedFileExtension; ?>"
                                <?= /**@escapeNotVerified */ in_array('required', $isRequiredArray)?
                                'data-validate="{required:true}"':'' ?>><br>
                        <span class="note"><span><?= /**@escapeNotVerified */
                            $helper->getConfigData('allowede_file_extension') ?></span>
                        </span>
                    <?php endif; ?>
                </div>
            </div>
            <?php
            if ($count == 4 || $totalAttr == 0) {
                $count = 0
                ?>
                </fieldset>
            <?php } else {
                $count++;
            } ?>
        <?php endforeach; ?>
    <?php  } ?>
    <?php if ($helper->getConfigData('group_display')) { ?>
        <script>
            window.vendorConfig = <?= /**@escapeNotVerified */ \Zend_Json::encode($helper->getVendorConfig()); ?>;
        </script>
        <div id="vendor-component" data-bind="scope:'vendor-form-field'" class="field required">
            <button id="main" class="button back action primary"><?= /**@escapeNotVerified */ __('Back') ?>
                </button>
            <!-- ko template: getTemplate() --><!-- /ko -->
            <script type="text/x-magento-init">
            {
                "#vendor-component": {
                    "Magento_Ui/js/core/app":  <?= /**@escapeNotVerified */ $block->getJsLayout();?>
                }
            }
            </script>
        </div>
    <?php } ?>
    <?php
        $data = [
            'fieldsetCount' => $fieldsetTotal
        ];
        $serializedData = $jsonHelper->jsonEncode($data);
        ?>
    <script type="text/x-magento-init">
    {
        "*": {
            "displayVendorFields":<?= /**@escapeNotVerified */ $serializedData; ?>
        }
    }
    </script>
    <script>
        require([
            'jquery',
            'mage/mage',
            'mage/translate',
            'mage/calendar'
        ], function($){
            $.each($('.dob_type'),function(i,v){
                $(this).calendar({
                    dateFormat:  "M/d/yy",
                    showOn: "both",
                    buttonText: "",
                    yearRange: "-100:+100",
                });
            });
            $('fieldset.form_fields_'+(<?= /**@escapeNotVerified */ $fieldsetTotal;?>-1)).
                append($('div.privacy-container'));

            if($('#wk-termsconditions-box').length) {
                $('#wk-termsconditions-box').remove();
            }
            if($('#vendor-component').length) {
                $('.wk-list-container-registration .form-create-account').prepend($("#vendor-component"));
                $("#vendor-component").append($('div.privacy-container'));
            }
            $('.form-create-account .actions-toolbar .submit.primary').text($.mage.__('Next'));
        }
    );
    </script>
<?php } ?>
