<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php /** @var $block \Magento\Sales\Block\Adminhtml\Items\Renderer\DefaultRenderer */ ?>
<?php $_item = $block->getItem() ?>
<?php $block->setPriceDataObject($_item); ?>
<tr>
    <td class="col-product"><?= $block->getColumnHtml($_item, 'name') ?></td>
    <td class="col-price">
        <?= $block->getColumnHtml($_item, 'price') ?>
    </td>
    <td class="col-ordered-qty"><?= $block->getColumnHtml($_item, 'qty') ?></td>
    <?php if ($block->canParentReturnToStock($_item)) : ?>
        <td class="col-return-to-stock">
        <?php if ($block->canReturnItemToStock($_item)  && ($_item->getProductType() != 'virtual')) : ?>
            <input type="checkbox"
                   class="admin__control-checkbox"
                   name="creditmemo[items][<?= (int) $_item->getOrderItemId() ?>][back_to_stock]"
                   value="1"<?php if ($_item->getBackToStock()) : ?> checked<?php endif; ?>/>
            <label class="admin__field-label"></label>
        <?php endif; ?>
        </td>
    <?php endif; ?>
    <td class="col-refund col-qty">
    <?php if ($block->canEditQty() && ($_item->getProductType() != 'virtual')) : ?>
      <input type="text"
               class="input-text admin__control-text qty-input"
               name="creditmemo[items][<?= (int) $_item->getOrderItemId() ?>][qty]"
               value="<?= (float) $_item->getQty() ?>"/>
    <?php else : ?>
       <?= (float) $_item->getQty() ?>
    <?php endif; ?>
    </td>
    <td class="col-subtotal">
        <?= $block->getColumnHtml($_item, 'subtotal') ?>
    </td>
    <td class="col-tax-amount"><?= /* @noEscape */ $block->displayPriceAttribute('tax_amount') ?></td>
    <td class="col-discont"><?= /* @noEscape */ $block->displayPriceAttribute('discount_amount') ?></td>
    <td class="col-total last">
        <?= $block->getColumnHtml($_item, 'total') ?>
    </td>
</tr>
