<?php
/**
 * Copyright © Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 *
 * @var $block \Magento\Customer\Block\Account\Forgotpassword
 */

/** @var \Magento\Customer\Block\Account\Forgotpassword $block */
?>
<form class="form form-login"
      action="<?= $block->escapeUrl($block->getUrl('*/*/forgotpasswordpost')) ?>"
      method="post"
      id="form-validate"
      data-mage-init='{"validation":{}}'>
    <fieldset class="fieldset" data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>">
        <div class="field note">
            <?= $block->escapeHtml(__('Please enter your email address below to receive a password reset link.')) ?>
        </div>
        <div class="field email required">
            <label for="email_address" class="label"><span><?= $block->escapeHtml(__('Email')) ?></span></label>
            <div class="control">
                <input type="email" name="email" alt="email" id="email_address" class="input-text" 
                value="<?= $block->escapeHtmlAttr($block->getEmailValue()) ?>" 
                data-mage-init='{"mage/trim-input":{}}' 
                data-validate="{required:true, 'validate-email':true}">
            </div>
        </div>
        <?= $block->getChildHtml('form_additional_info') ?>
    </fieldset>
    <div class="form-actions">
        <div class="actions">
            <button type="submit" class="action-login action-primary">
                <span><?= $block->escapeHtml(__('Reset My Password')) ?></span>
            </button>
        </div>
        <div class="actions">
            <a class="action back" href="<?= $block->escapeUrl($block->getUrl("marketplace/account/login/")) ?>">
                <span><?= $block->escapeHtml(__('Go back')) ?></span>
            </a>
        </div>
    </div>
</form>
