<form method="post" data-mage-init='{"form": {}, "validation": {}}' action="<?= /* @escapeNotVerified */ $block->escapeUrl($block->getUrl('*/auth/resetpasswordpost', ['_query' => ['id' => $block->getRequest()->getParam("id"), 'token' => $block->getRequest()->getParam("token")]])) ?>" id="reset-password-form" autocomplete="off">    <fieldset class="admin__fieldset">
        <legend class="admin__legend"><span><?= /* @escapeNotVerified */ $block->escapeHtml(__('Reset a Password')) ?></span></legend><br />
        <input name="form_key" type="hidden" value="<?= /* @noEscape */ $block->getFormKey() ?>" />
        <div class="admin__field _required field-password">
            <label class="admin__field-label" for="password"><span><?= /* @escapeNotVerified */ $block->escapeHtml(__('New Password')) ?></span></label>
            <div class="admin__field-control">
                <input type="password" class="admin__control-text" data-validate="{required:true, 'validate-admin-password':true}" name="password" id="password" placeholder="new password" autocomplete="off" />
            </div>
        </div>
        <div class="admin__field _required field-confirmation">
            <label class="admin__field-label" for="confirmation"><span><?= /* @escapeNotVerified */ $block->escapeHtml(__('Confirm New Password')) ?></span></label>
            <div class="admin__field-control">
                <input type="password" class="admin__control-text" data-validate="{required:true, 'validate-cpassword':true}" name="confirmation" id="confirmation" placeholder="confirm new password" autocomplete="off" />
            </div>
        </div>
        <div class="form-actions">
            <div class="actions">
                <button type="submit" title="<?= /* @escapeNotVerified */ $block->escapeHtml(__('Reset Password')) ?>" class="action-reset action-primary"><span><?= /* @escapeNotVerified */ $block->escapeHtml(__('Reset Password')) ?></span></button>
            </div>
            <div class="links">
                <a class="action-back" href="<?= /* @escapeNotVerified */ $block->escapeUrl($block->getUrl('adminhtml', ['_nosecret' => true])) ?>"><?= /* @escapeNotVerified */ $block->escapeHtml(__('Back to Sign in')) ?></a>
            </div>
        </div>
    </fieldset>
</form>