/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
.wk-mprma-container * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
body .wk-mprma-fieldset.fieldset {
    width: 100%;
}
.wk-preview-image {
    height: 120px;
    margin: 5px;
    vertical-align: top;
    width: 120px;
    display: inline-block;
    border: 2px solid #ccc;
}
.wk-mprma-container .fieldset > .field {
    margin-bottom: 25px;
}
.wk-mprma-view .fieldset > .field > .label {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
}
.mprmasystem-customer-rma .page-title-wrapper {
    display: none;
}
.mprmasystem-seller-rma .page-title-wrapper {
    display: none;
}
.wk-mprma-view .field {
    display: inline-block;
    float: left;
    padding: 10px 50px 10px 10px;
    width: 50%;
}
.wk-mprma-view .field.wk-lg {
    width: 100%;
}
.wk-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 20px;
}
.wk-date-info {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-top: 9px;
}
.wk-title.wk-close-title {
    margin-bottom: 4px;
}

.wk-mprma-view .wk-close-filedset .field {
    width: 100%;
    padding: 10px;
}
.wk-action-btn {
    float: right;
}
.wk-close-filedset .control {
    width: 100%;
    display: inline-block;
}
.wk-action-content {
    display: inline-block;
    padding: 5px 0;
}
.wk-send {
    margin-top: 10px;
}
.wk-action-content span:after {
    color: #e02b27;
    content: "*";
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
.wk-mprma-conversation {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.wk-mprma-conversation-head {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}
.wk-mprma-conversation-body {
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
}
.wk-mprma-conversation-head-left {
    display: inline-block;
    float: left;
}

.wk-mprma-conversation-head-right {
    display: inline-block;
    float: right;
}
.wk-mprma-seller-section {
    background: #96c986;
}
.wk-mprma-customer-section {
    background: #B9CDF8;
}
.wk-mprma-admin-section {
    background: #FFE0B3;
}
.wk-row > span {
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    margin-right: 5px;
}
.wk-refund {
    margin-top: 10px;
}
.wk-partial-amount {
    margin-top: 10px;
    display: none;
}

.wk-mprma-container .control {
    padding: 10px 0px;
}
.wk-mprma-fieldset textarea {
    width: 100%;
}


.wk-showcase-container, .wk-showcase-container * {
    box-sizing: border-box;
}
.wk-showcase-container {
    display: inline-block;
    width: 100%;
}
.wk-showcase-block {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    vertical-align: top;
    float: left;
    margin-left: 0px;
    margin-right: 20px;
    text-align: center;
}
.wk-delete-item {
    background: #222 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 20px;
    line-height: 17px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width : 20px;
    z-index : 9;

}
.wk-showcase-block img {
    display: inline-block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}
.wk-no-display {
    display: none;
}
.wk-default-block {
    width: 148px;
    height: 148px;
    display: inline-block;
    float: left;
    line-height: 148px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
button.wk-add-showcase-btn {
    background: #fa6f1d none repeat scroll 0 0;
    border: 1px solid #fa6f1d;
    border-radius: 2px;
    box-shadow: unset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 8px 20px;
}
.wk-button-set {
    display: inline-block;
    width: 100%;
}
.wk-refund-note {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
}