/**
 * CSS for forms
 *
 * @category    Arb
 * @package     Arb_Reports
 * @author Arb Magento Team
 */
.admin__field-label {
    color: #303030;
    margin: 0;
    text-align: left !important;
    vertical-align: text-bottom !important;
}
.admin__form-field {
    vertical-align: text-bottom !important;
}
.admin__data-grid-filters-wrap {
    vertical-align: text-bottom !important;
}
.admin__data-grid-filters-wrap .admin__form-field {
    vertical-align: text-bottom !important;
}
