/**
 *  RTL CSS
 *  
 * @category    Arb
 * @package     Arb_CustomWebkul
 * @author Arb Magento Team
 */
html{direction: rtl;}
.wk-mp-menu-wrapper:before{right:0}
.wk-mp-menu .level-0 > .wk-mp-submenu{right: 100% !important; left:unset !important;transition-duration: unset !important;transition-property: none !important;transition-timing-function: unset !important;}
.wk-mp-page-header-before .switcher{float: left !important; }
.wk-mp-page-header-before .switcher .options ul.dropdown{left: 0 !important;}
.page-layout-seller-2columns-left .page-header .switcher .options ul.dropdown{padding: 15px 10px !important;min-width:72px !important}
.wk-mp-page-header-hgroup{float:right !important}
.wk-mp__action-dropdown-wrap{float:left !important}
ul.wk-mp__action-dropdown-menu{min-width: 13rem !important}
.wk-mp__action-dropdown-menu > li > a{padding-right: 2rem;}
.wk-orderbox-details{float: right;}
.wk-massupload-container .actions-toolbar > .primary:last-child{float:right}
.wk-mp-login-header .logo{float: right;}
.data-grid-cell-content{text-align: right;}
.col{text-align: right;}
.wk-mp-menu .wk-mp-submenu li{text-align: right;}
div, label, li{text-align: right !important;}
.admin__data-grid-action-bookmarks .admin__action-dropdown-menu{left: auto !important;}
.selectmenu-item-action{padding: 1rem 1rem 1rem 1.5rem !important;text-align: right !important;}
#wk-mp-maincontent > div.wk-mp-columns > div > div > div.admin__data-grid-header > div > div.admin__data-grid-filters-wrap._show > fieldset > fieldset > legend,#wk-mp-maincontent > div.wk-mp-columns > div > div > div.admin__data-grid-header > div > div.admin__data-grid-filters-wrap._show > fieldset > div > label{text-align: right !important}
#wk-mp-maincontent > div.wk-mp-columns > div > div > div.admin__data-grid-header > div:nth-child(1) > div.admin__data-grid-actions-wrap > div.admin__action-dropdown-wrap.admin__data-grid-action-columns._active > div > div.admin__action-dropdown-menu-content{width: 40rem;}
.wk-dash-label .status{text-align: center !important;}
#wk-mp-nav .level-0 > a{padding: 1rem 1.3rem !important;}
.admin__data-grid-filters-wrap .admin__form-field .admin__form-field .admin__form-field-control{margin-left: revert; margin-right: 25%}
.admin__data-grid-filters-wrap .admin__form-field .admin__form-field .admin__form-field-label{float: right !important;padding-left: 1em; padding-right: revert;}

.wk-mp-btn {
    float: left !important;
    margin-left: auto !important;
}



.admin__data-grid-actions-wrap {
    float: left !important;
    margin-left: 1.1rem;
    margin-top: -0.5rem;
    text-align: left !important;
}

.data-grid-filters-actions-wrap {
    float: left !important;
}


.selectmenu-toggle:before {
    background: #e3e3e3 none repeat scroll 0 0;
    border-left: 1px solid #adadad;
    bottom: 0;
    content: "";
    display: block;
    position: absolute;
    right: 48px !important;
    top: 0px;
    width: 3.2rem;
}

.selectmenu-toggle:after {
    border-color: #000 transparent transparent;
    border-style: solid;
    border-width: 0.5rem 0.4rem 0;
    content: "";
    height: 0;
    margin-top: -0.2rem;
    position: absolute;
    right: 6.1rem !important;
    top: 50%;
    transition: all 0.2s linear 0s;
    width: 0;
}

.admin__action-dropdown-wrap .admin__action-dropdown-menu {
    left: 0 !important;
    right: auto !important;
}

table th {
    text-align: right !important;
}

.wk-date-filter-div {
    float: right !important;
}

.wk-seller-rma-table .wk-filtered-rma-id.wk-desc-order tr th:nth-child(6n+1) {
    background-position: 12% 50% !important;
}

.order-products-toolbar.toolbar.bottom > .pager > .limiter {
    float: left !important;
}

.wk-mp-page-title h2 {
    float: right !important;
    margin: 0;
}

@media all and (min-width: 768px), print {
	.wk-mp-main .admin__data-grid-outer-wrap  .col-xs-3, #variation-steps-wizard_step1 .col-xs-3 {
	    width: auto !important;
	    float: right;
	    box-sizing: border-box;
	}
    .wk-mp-main .admin__data-grid-outer-wrap  .col-xs-9, #variation-steps-wizard_step1 .col-xs-9 {
	    width: auto !important;
	    box-sizing: border-box;
	    text-align: left !important;
	}

	.pager .toolbar-amount {
	    display: block;
	    float: right !important;
	    position: static;
	  }
}