<?php
/**
 * @var \Arb\Vouchers\Block\Vouchers $block
 */
?>
<form class="wk-massupload-container"
      action="<?= $block->escapeUrl($block->getFormAction()) ?>"
      id="voucher-uploads"
      method="post"
      enctype="multipart/form-data"
      data-hasrequired="<?= $block->escapeHtmlAttr(__('* Required Fields')) ?>"
      data-mage-init='{"validation":{}}'>
      <fieldset class="fieldset">
        <?php $block->getBlockHtml('formkey') ?>
        <?php $block->getBlockHtml('seller.formkey')?>
      <div class="field required">
            <label for="upload_vouchers" class="label">
                <span><?= $block->escapeHtml(__('Upload Vouchers')) ?></span>
            </label>
            <div class="control">
                <input
                    type="file"
                    name="upload_vouchers"
                    id="upload_vouchers"
                    title="<?= $block->escapeHtmlAttr(__('Upload Vouchers')) ?>"
                    class="input-text" data-validate="{required:true}">
            </div>
        </div>
     </fieldset>
     <div class="actions-toolbar">
        <div class="primary">
            <button
                type="submit"
                title="<?= $block->escapeHtmlAttr(__('Click to upload vouchers')) ?>"
                class="action submit primary">
                <span><?= $block->escapeHtml(__('Upload')) ?></span>
            </button>
        </div>
    </div>
</form>


