<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
?>
<input type="hidden" name="seller_panel" id="seller_panel" data-form-part="customer_form" value="<?= $block->escapeHtml($helper->getParam("seller_panel")); ?>" />
<script>
 require([
"jquery"
], function($){
$('#save_and_continue,#save').click(function() {
  $('#tab_block_customer_attribute_edit_tab_view').click();
});
});
</script>