/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
body .wk-mprma-container * {
    box-sizing:border-box;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
}
body .wk-mprma-fieldset.fieldset {
    width: 100%;
}

body .wk-mp-rma-newrma > a {
    background: #36ada7 none repeat scroll 0 0;
    color: #fff;
    display: inline-block;
    font-size: 20px;
    font-weight: bold;
    padding: 10px 0;
    text-align: center;
    text-decoration: none;
    width: 100%;
    border-bottom: 5px solid #f28395;
}
body .wk-mp-rma-newrma {
    margin-bottom: 10px;
}

body .wk-mp-rma-newrma > a:hover {
    color: #ddd;
}
body .wk-loading-mask {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.62);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 9999;
}
body .wk-loader {
    background: url("../images/ajax-loader.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
}
body .wk-display-none {
    display: none !important;
}
body .wk-preview-image {
    height: 120px;
    margin: 5px;
    vertical-align: top;
    width: 120px;
    display: inline-block;
    border: 2px solid #ccc;
    position: relative;
}
body .wk-mprma-container .fieldset > .field {
    margin-bottom: 25px;
}
body .wk-mprma-view .fieldset > .field > .label {
    border-bottom: 1px solid #ccc;
    display: inline-block;
    padding-bottom: 10px;
    width: 100%;
    margin-bottom: 10px;
    text-align: left;
}
body .mprmasystem-customer-rma .page-title-wrapper {
    display: none;
}
body .mprmasystem-seller-rma .page-title-wrapper {
    display: none;
}
body .wk-mprma-view .field {
    display: inline-block;
    float: left;
    padding: 10px 50px 10px 10px;
    width: 50%;
}
body .wk-mprma-view .field.wk-lg {
    width: 100%;
}
body .wk-title {
    display: inline-block;
    width: 100%;
    margin-bottom: 20px;
    padding: 10px 0;
    border-bottom: 1px solid #ccc;
    color: #333;
    font-size: 20px;
}
body .wk-date-info {
    display: inline-block;
    float: right;
    font-size: 14px;
    margin-top: 9px;
}
body .wk-title.wk-close-title {
    margin-bottom: 4px;
}
body .wk-mprma-view .wk-close-filedset .field {
    width: 100%;
    padding: 10px;
}
body .wk-action-btn {
    float: right;
}
body .wk-close-filedset.fieldset .field .control {
    width: 100%;
    display: inline-block;
}
body .wk-action-content {
    display: inline-block;
    padding: 5px 0;
}
body .wk-send {
    margin-top: 10px;
}
body .wk-action-content span:after {
    color: #e02b27;
    content: "*";
    font-size: 1.2rem;
    margin: 0 0 0 5px;
}
body .wk-mprma-conversation {
    border: 1px solid #ccc;
    margin-bottom: 20px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
body .wk-mprma-conversation-head {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px;
    width: 100%;
}
body .wk-mprma-conversation-body {
    display: inline-block;
    padding: 15px 10px;
    width: 100%;
    text-align: justify;
}
body .wk-mprma-conversation-head-left {
    display: inline-block;
    float: left;
}
body .wk-mprma-conversation-head-right {
    display: inline-block;
    float: right;
}
body .wk-mprma-seller-section {
    background: #96c986;
}
body .wk-mprma-customer-section {
    background: #B9CDF8;
}
body .wk-mprma-admin-section {
    background: #FFE0B3;
}
body .wk-row > span {
    font-size: 13px;
    font-style: italic;
    font-weight: 600;
    margin-right: 5px;
}
body .wk-refund {
    margin-top: 10px;
}
body .wk-partial-amount {
    margin-top: 10px;
    display: none;
}
body .fieldset.wk-guest-login {
    width: 300px;
}
body .wk-note {
    color: #306a03;
    font-size: 12px;
    padding: 5px 2px;
}
body .wk-preview-image > img {
    height: 100%;
    width: 100%;
}
body .wk-remove-img {
    background: #000 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    height: 20px;
    position: absolute;
    right: -6px;
    text-align: center;
    top: -6px;
    width: 20px;
    z-index: 99;
}
body #image {
    width: 100px;
    color: transparent;
}
body .wk-selected-img-info {
    display: inline-block;
}
body .wk-img-preview-loading-mask {
    background: none repeat scroll 0 0 rgba(255, 255, 255, 0.62);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: 9999;
}
body .wk-img-preview-loader {
    background: url("../images/ajax-loader.gif") repeat scroll 0 0 rgba(0, 0, 0, 0);
    height: 32px;
    left: 50%;
    margin-left: -16px;
    margin-top: -16px;
    position: absolute;
    top: 50%;
    width: 32px;
}
body .wk-img-field {
    position: relative;
}
body #wk_new_rma_form .fieldset.wk-mprma-fieldset > .field> .label {
    display: inline-block;
    width: 100%;
    text-align: left;
    margin-bottom: 10px;
    padding: 0px;
}
body #wk_new_rma_form .fieldset.wk-mprma-fieldset > .field> .control {
    display: inline-block;
    width: 100%;
}
body .wk-mprma-container #wk_new_rma_form .fieldset.wk-mprma-fieldset .actions-toolbar {
    margin: 0px;
}

.wk-showcase-container, .wk-showcase-container * {
    box-sizing: border-box;
}
.wk-showcase-container {
    display: inline-block;
    width: 100%;
}
.wk-showcase-block {
    width: 150px;
    height: 150px;
    margin: 10px;
    border: 1px solid #ccc;
    display: inline-block;
    position: relative;
    vertical-align: top;
    float: left;
    margin-left: 0px;
    margin-right: 20px;
    text-align: center;
}
.wk-delete-item {
    background: #222 none repeat scroll 0 0;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 20px;
    line-height: 17px;
    position: absolute;
    right: -5px;
    text-align: center;
    top: -5px;
    width : 20px;
    z-index : 9;

}
.wk-showcase-block img {
    display: inline-block;
    height: auto;
    max-height: 100%;
    max-width: 100%;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    width: auto;
}
.wk-no-display {
    display: none;
}
.wk-default-block {
    width: 148px;
    height: 148px;
    display: inline-block;
    float: left;
    line-height: 148px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
}
button.wk-add-showcase-btn {
    background: #fa6f1d none repeat scroll 0 0;
    border: 1px solid #fa6f1d;
    border-radius: 2px;
    box-shadow: unset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 8px 20px;
}
.wk-button-set {
    display: inline-block;
    width: 100%;
}
#orders-item-table thead tr {
    background: #f5f5f5 none repeat scroll 0 0;
}
#order_items > tr:nth-child(2n+2) {
    background: #f5f5f5 none repeat scroll 0 0;
}
.wk-mp-rma-img {
    display: inline-block;
    float: left;
}
.wk-mp-rma-name {
    display: inline-block;
    float: left;
    padding-left: 10px;
    width: calc(100% - 100px);
}
.wk-mprma-warning-content {
    padding: 20px 0;
}
#my-rma-table tbody tr:nth-child(2n+2) {
    background: #f5f5f5 none repeat scroll 0 0;
}

#my-rma-table thead tr {
    background: #f5f5f5 none repeat scroll 0 0;
}

@media only screen and (max-width: 639px) {
    .wk-mprma-container .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr td:before, .wk-mprma-container .table-wrapper .table:not(.totals):not(.cart):not(.table-comparison) > tbody > tr th:before {
        content: attr(data-th);
    }
}
#order_items .item-options {
    font-size: 12px;
    margin: 5px 0 0 2px;
}
.wk-reason {
    max-width: 250px;
}

#my-rma-table {
    margin-bottom: 10px;
}
.wk-refund-note {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    padding: 10px 0;
    width: 100%;
}

.wk-guest-logout {
    display: inline-block;
    float: right;
    font-weight: bold;
}

.wk-table-head-action tr th {
    background: #dbdde3 none repeat scroll 0 0;
    border-right: 1px solid #fff;
    padding: 4px 3px 3px;
    text-align: center;
}

.wk-table-head-title tr th {
    padding: 5px;
}
.wk-date-filter-box {
    display: inline-block;
    float: left;
    width : 50%;
}

.wk-date-filter-box:last-child {
    float: right;
}
.wk-mprma-container tbody tr td:nth-child(4n) {
    min-width: 200px;
    max-width: 220px;
}
.wk-table-head-action .wk-date-filter-col {
    min-width: 200px;
    max-width: 220px;
}

button.wk-apply-filter-btn {
    background: #fa6f1d none repeat scroll 0 0;
    border: 1px solid #fa6f1d;
    border-radius: 2px;
    box-shadow: unset;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    padding: 8px 17px;
    white-space: nowrap;
}

.wk-selected-filter-col {
    background: #e5e5e5 none repeat scroll 0 0;
}
.wk-rma-asc-icon {
    background: rgba(0, 0, 0, 0) url("../images/grid_sort_asc.gif") no-repeat scroll 96% 50%;
}
.wk-rma-desc-icon {
    background: rgba(0, 0, 0, 0) url("../images/grid_sort_desc.gif") no-repeat scroll 96% 50%;
}
.wk-sorting-col {
    cursor : pointer;
}

.wk-buyer-rma-table .wk-filtered-rma-id tr th:nth-child(6n+1) {
    background-color: #e5e5e5;
}
.wk-buyer-rma-table .wk-filtered-rma-id.wk-asc-order tr th:nth-child(6n+1) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_desc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}
.wk-buyer-rma-table .wk-filtered-rma-id.wk-desc-order tr th:nth-child(6n+1) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_asc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}

.wk-buyer-rma-table .wk-filtered-order-ref tr th:nth-child(6n+2) {
    background-color: #e5e5e5;
}
.wk-buyer-rma-table .wk-filtered-order-ref.wk-asc-order tr th:nth-child(6n+2) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_desc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}
.wk-buyer-rma-table .wk-filtered-order-ref.wk-desc-order tr th:nth-child(6n+2) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_asc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}

.wk-buyer-rma-table .wk-filtered-date tr th:nth-child(6n+4) {
    background-color: #e5e5e5;
}
.wk-buyer-rma-table .wk-filtered-date.wk-asc-order tr th:nth-child(6n+4) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_desc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}
.wk-buyer-rma-table .wk-filtered-date.wk-desc-order tr th:nth-child(6n+4) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_asc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}







.wk-seller-rma-table .wk-filtered-rma-id tr th:nth-child(6n+1) {
    background-color: #e5e5e5;
}
.wk-seller-rma-table .wk-filtered-rma-id.wk-asc-order tr th:nth-child(6n+1) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_desc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}
.wk-seller-rma-table .wk-filtered-rma-id.wk-desc-order tr th:nth-child(6n+1) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_asc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}


.wk-seller-rma-table .wk-filtered-rma-customer tr th:nth-child(6n+2) {
    background-color: #e5e5e5;
}
.wk-seller-rma-table .wk-filtered-rma-customer.wk-asc-order tr th:nth-child(6n+2) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_desc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}
.wk-seller-rma-table .wk-filtered-rma-customer.wk-desc-order tr th:nth-child(6n+2) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_asc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}



.wk-seller-rma-table .wk-filtered-order-ref tr th:nth-child(6n+3) {
    background-color: #e5e5e5;
}
.wk-seller-rma-table .wk-filtered-order-ref.wk-asc-order tr th:nth-child(6n+3) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_desc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}
.wk-seller-rma-table .wk-filtered-order-ref.wk-desc-order tr th:nth-child(6n+3) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_asc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}

.wk-seller-rma-table .wk-filtered-date tr th:nth-child(6n+5) {
    background-color: #e5e5e5;
}
.wk-seller-rma-table .wk-filtered-date.wk-asc-order tr th:nth-child(6n+5) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_desc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}
.wk-seller-rma-table .wk-filtered-date.wk-desc-order tr th:nth-child(6n+5) {
    background-color : #e5e5e5;
    background-image : url("../images/grid_sort_asc.gif");
    background-position: 96% 50%;
    background-repeat: no-repeat;
}

.wk-view:after {
    border-left: 1px solid #a6a6a6;
    content: '';
    display: inline-block;
    height: 12px;
    margin: 0 10px;
    vertical-align: -1px;
}
.wk-order-con-no {
    background: #fff;
    border: 1px solid #c2c2c2;
    height: auto;
    margin: 0;
    padding: 5px;
    width: 100%;
}
.order-products-toolbar.toolbar.bottom > .pager > .limiter {
    float: right;
}
@media only screen and (max-width: 767px) {
    .account .page-main {
        padding-top:70px;
    }
}
