<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
$helper = $block->getMpHelper();
$jsonHelper = $block->getJsonHelper();
?>

<?php if ($helper->isVendorRegistration()) { ?>
    <div id="wantptr" class="vendorform profileurl field required">
        <label class="label"><?= /**@escapeNotVerified */ __("Shop URLs
        ")?></label>
        <div class="control" id="wk-mp-become-seller-box-wrapper" data-role="wk-mp-become-seller-box-wrapper">
            <input type="text" class="input-text required-entry" name="profileurl" id="profileurl" 
                data-role="shop-url" placeholder="<?= /**@escapeNotVerified */ __("Please enter shop URL")?>" 
                title="<?= /**@escapeNotVerified */ __("Please enter shop URL")?>" value="">
            <div id="wk-load" class="no-display">
                <img src="<?= /**@escapeNotVerified */
                    $block->getViewFileUrl('Webkul_Marketplace::images/ajax-loader-tr.gif'); ?>" 
                    height="16px" width="16px"/>
            </div>
            <input type="hidden" name="is_seller" value='1'/>
        </div>
    </div>
    <?php
    $formData = [
        'ajaxSaveUrl' => $block->getUrl(
            "marketplace/seller/usernameverify",
            ["_secure" => $block->getRequest()->isSecure()]
        ),
        'successMessage' => __("Congratulations! Shop name is available."),
        'errorMessage' => __("Sorry! But this shop name is not available, please set another shop name."),
        'loaderImage' => $block->getViewFileUrl('Webkul_Marketplace::images/ajax-loader-tr.gif'),
        'button' => 'button.submit'
    ];
    $serializedFormData = $jsonHelper->jsonEncode($formData);
    ?>

    <script type="text/x-magento-init">
        {
            "#form-validate": {
                "verifySellerShop": <?= /**@escapeNotVerified */ $serializedFormData; ?>
            }
        }
    </script>

<?php } ?>