<?php
/**
 * Header
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */

/** webkul module default coding disabled phpcs check */
// phpcs:disable
/** @var $block \Webkul\Marketplace\Block\Page\Header */
$helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
// phpcs:enable
?>
<?php
switch ($block->getShowPart()):
    case 'logo':
        ?>
        <a
            href="<?= /* @escapeNotVerified */ $block->escapeUrl($block->getBaseUrl()) ?>"
            class="wk-mp-logo">
            <span class="wk-mp-logo-img-wrapper">
                <img 
                    class="wk-mp-logo-img"
                    src="<?= $block->escapeUrl($block->getSellerDashboardLogoSrc())?>"
                    alt="<?= $block->escapeHtml(__('Seller Panel')) ?>"/>
            </span>
        </a>
        <?php
        break;
    case 'user':
        $logo = $block->getSellerLogo();
        $logo = $helper->getMediaUrl().'avatar/'.$logo;
        ?>
        <div class="wk-mp-user wk-mp__action-dropdown-wrap">
            <a
                href="#"
                onlick="return false;"
                class="wk-mp__action-dropdown"
                title="<?= $block->escapeHtml(__('My Account')) ?>"
                data-mage-init='{"dropdown":{}}'
                data-toggle="dropdown">
                <span class="wk-mp-seller-header-logo-wrapper">
                    <img 
                        class="wk-mp-seller-header-logo" 
                        src="<?= $block->escapeUrl($logo)?>" 
                        alt="<?= $block->escapeHtml(__('Seller Panel')) ?>"/>
                </span>
                <span class="wk-mp__action-dropdown-text">
                    <span class="wk-mp-user-account-text">
                        <span class="wk-mp-user-account-text-wrapper">
                            <?= $block->escapeHtml($block->getSellerShopName()); ?>
                        </span>
                    </span>
                </span>
            </a>
            <ul class="wk-mp__action-dropdown-menu">
            <!-- Removed the Account settings and Buyers Profile menu -->
                <li class="wk-mp-dropdown-menu-logout">
                    <a
                        href="<?= /* @escapeNotVerified */
                                    $block->escapeUrl(
                                        $block->getUrl('customer/account/logout')
                                    ) ?>"
                        class="wk-mp-account-logout"
                        title="<?= $block->escapeHtml(__('Logout')) ?>">
                        <?= /* @escapeNotVerified */ $block->escapeHtml(__('Logout')) ?>
                    </a>
                </li>
            </ul>
        </div>
        <?php
        break;
    case 'seller.notifications':
        $totalCount = $block->getAllNotificationCount(); ?>
        <div class="wk-mp-notification wk-mp__action-dropdown-wrap">
            <a 
                onlick="return false;"
                href="#" 
                class="wk-mp__action-dropdown"
                <?php if ($totalCount):
                    ?> data-mage-init='{"dropdown":{}}' <?php
                endif; ?> >
                <span class="wk-mp-notification-icon"></span>
                <?php if ($totalCount): ?>
                    <?php if ($totalCount > 5): ?>
                        <span class="wk-mp-notification-count">5+</span>
                    <?php else: ?>
                        <span class="wk-mp-notification-count">
                            <?= $block->escapeHtml($totalCount); ?>
                        </span>
                    <?php endif; ?>
                <?php endif; ?>
            </a>
            <?php if ($totalCount): ?>
                <ul class="wk-mp__action-dropdown-menu">
                    <?php foreach ($block->getAllNotification() as $notification) { ?>
                        <?= /* @noEscape */ $block->getNotificationInfo($notification) ?>
                    <?php } ?>
                    <li>
                        <small>
                            <a href="<?= $block->escapeUrl($block->getUrl('marketplace/account/notification'))?>">
                                <?= $block->escapeHtml(__("View All"))?>
                            </a>
                        </small>
                    </li>
                </ul>
            <?php endif; ?>
        </div>
        <?php
        break;
    case 'seller.home':
        ?>
        <div class="wk-mp-home wk-mp__action-dropdown-wrap">
            <a 
                href="<?= $block->escapeUrl($block->getUrl(''))?>" 
                class="wk-mp__action-dropdown">
            </a>
        </div>
        <?php
        break;
    case 'other':
        ?>
        <?= $block->getChildHtml(); ?>
        <?php
        break;
endswitch; ?>
