<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<fieldset class="fieldset customfield_options">
    <legend class="legend"><span>
        <?= /**@escapeNotVerified */ __('Manage Options (values of your attribute)') ?></span>
        </legend>
    <div id="manage-options-panel">
        <table class="admin__control-table">
            <thead>
                <tr id="attribute-options-table">
                    <th class="col-draggable"></th>
                    
                    <?php
                    $storelist = $block->getStores();
                    foreach ($storelist as $_store):
                        ?>
                        <th><?= /**@escapeNotVerified */ __($_store->getName()) ?></th>
                    <?php endforeach;
                    $storetotal = count($storelist) + 3;
                    ?>
                    <th class="col-delete">&nbsp;</th>
                </tr>
            </thead>
            <tbody data-role="options-container" class="ignore-validate"></tbody>
            <tfoot>
            <tr>
                <th colspan="<?= /**@escapeNotVerified */ $storetotal; ?>" class="validation">
                    <input type="hidden" class="required-dropdown-attribute-entry" 
                    name="dropdown_attribute_validation"/>
                </th>
            </tr>
            <tr>
                <th colspan="<?= /**@escapeNotVerified */ $storetotal; ?>" class="col-actions-add">
                    <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()):?>
                        <button id="add_new_option_button" 
                            title="<?= /**@escapeNotVerified */ __('Add Option'); ?>"
                            type="button" class="action- scalable add">
                             <span><?= /**@escapeNotVerified */ __('Add Option'); ?></span>
                        </button>
                    <?php endif; ?>
                </th>
            </tr>
            </tfoot>
        </table>
        <input type="hidden" id="option-count-check" value="" />
    </div>
    <script id="row-template" type="text/x-magento-template">
         <tr>
            <td class="col-draggable">
                <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()): ?>
                    <div data-role="draggable-handle" class="draggable-handle" 
                        title="<?= /**@escapeNotVerified */ __('Sort Option'); ?>"></div>
                <?php endif; ?>
                <input data-role="order" type="hidden" name="option[order][<%- data.id %>]"  
                    value="<%- data.sort_order %>" <?php if ($block->getReadOnly() ||
                    $block->canManageOptionDefaultOnly()): ?> disabled="disabled"<?php endif; ?>/>
            </td>
            <?php foreach ($block->getStores() as $_store): ?>
            <td class="col-<%- data.id %>">
                <input name="option[value][<%- data.id %>][<?= /**@escapeNotVerified */ $_store->getId() ?>]" 
                        value="<%- data.store<?= /**@escapeNotVerified */ $_store->getId() ?> %>" 
                        class="input-text
                            <?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID):
                                ?> required-option<?php endif; ?>" 
                        type="text" <?php if ($block->getReadOnly() || $block->canManageOptionDefaultOnly()):?> 
                        disabled="disabled"<?php endif;?>/></td>
            <?php endforeach; ?>
            <td id="delete_button_container_<%- data.id %>" class="col-delete">
                <input type="hidden" class="delete-flag" name="option[delete][<%- data.id %>]" value="" />
                <?php if (!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()):?>
                    <button id="delete_button_<%- data.id %>" title="<?= /**@escapeNotVerified */ __('Delete') ?>" 
                    type="button"
                        class="action- scalable delete delete-option"
                        >
                        <span><?= /**@escapeNotVerified */ __('Delete') ?></span>
                    </button>
                <?php endif;?>
            </td>
        </tr>
    </script>
    <?php
    $values = [];
    foreach ($block->getOptionValues() as $value) {
        array_push($values, $value->getData());
    }
    ?>
    <script type="text/x-magento-init">
        {
            "*": {
                "Webkul_MpVendorAttributeManager/js/options": {
                    "attributesData": <?= /**@escapeNotVerified */ json_encode($values); ?>,
                    "isSortable":  <?= /**@escapeNotVerified */
                        (int)(!$block->getReadOnly() && !$block->canManageOptionDefaultOnly()) ?>,
                    "isReadOnly": <?= /**@escapeNotVerified */ (int)$block->getReadOnly(); ?>
                }
            }
        }
    </script>
</fieldset>
