<!--
/**
 * Template for Order new
 *
 * @category Arb
 * @package Arb_Order
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "Order #%order_increment_id is Placed on ARB Marketplace" order_increment_id=$increment_id}} @-->
<!--@vars {
"var order_data.customer_name":"Customer Name",
"var order.increment_id":"Order Id",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var order": "Order",
"var seller_data" : "Merchant"
} @-->
<!--@styles
.column-order-details { background-color:#EAEAEA; font-size:13px; padding:5px 9px 6px 9px; line-height:1em; }
.picture-merchant-logo { max-width:200px; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->
{{template config_path="design/email/header_template"}}
<p class="email-p">{{trans "Hello"}} {{var customer_name}}</p>
<p class="email-p">{{trans "Thank you for shopping on ARB Marketplace."}}</p>
<p class="email-p">{{trans "Your order has been placed."}} </p>
<p class="email-p">{{trans "Here is your order summary:"}} </p>
<p class="email-p">{{trans "Order Number ID"}} {{var increment_id}} </p>
<p class="email-p">{{trans "Payment Method"}} {{var payment_method}} </p>
<p class="email-p">{{trans "Items Ordered"}} {{var item_count}} {{trans "in"}} {{var shipments_count}}</p>
<p class="email-p">{{trans "Total Amount"}} {{var total_amount|raw}}</p>
<table dir="{{var email_content_direction}}">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <tbody>
                <tr>
                    <th align="{{var email_content_alignment}}" colspan="2" class="column-order-details">
                        {{trans "Merchant Name"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Merchant Service number"}}
                    </th>
                </tr>
                {{var merchant_info|raw}}
                </tbody>
            </table>
        </td>
    </tr>
</table>
<br>
<p class="email-p">{{trans "Here is your Order Details:"}}</p>
{{layout handle="order_confirmation_email_shipment" product_info=$product_info area="frontend"}}
<p class="email-p">{{trans "Your Order will be shipped to:"}}</p>
<p class="email-p">{{trans "Delivery Address :"}} {{var formattedShippingAddress|raw}}</p>
<p class="email-p">{{trans "Customer Mobile# :"}} {{var customer_mobile}}</p>
{{depend customer_note}}
<p class="email-p">{{trans "Shipping Note :"}} {{var customer_note}}</p>
{{/depend}}
<br>
<p class="email-p">{{trans "We hope you enjoyed shopping on ARB marketplace, and we are looking for your next order"}}</p>
{{template config_path="design/email/footer_template"}}
