<!--
/**
 * Template for Guest Customer Shipment
 *
 * @category Arb
 * @package Arb_Order
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "Your Order #%order_increment_id from ARB Marketplace is out for delivery with tracking #%tracking_number" order_increment_id=$order.increment_id tracking_number=$tracking_number}} @-->
<!--@vars {
"var order_data.customer_name":"Customer Name",
"var order.increment_id":"Order Id",
"var formattedShippingAddress|raw":"Shipping Address",
"var order.shipping_description":"Shipping Description",
"var shipment": "Shipment",
"var order": "Order",
"var seller_data" : "Merchant"
} @-->
<!--@styles
.column-order-details { background-color:#EAEAEA; font-size:13px; padding:5px 9px 6px 9px; line-height:1em; }
.picture-merchant-logo { max-width:200px; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->
{{template config_path="design/email/header_template"}}
<p class="email-p">{{trans "Your order is out for delivery"}}</p>
<p class="email-p">{{trans "Hello"}} {{var order_data.customer_name}}</p>
<p class="email-p">{{trans "We would like to inform you that a package from your order #%increment_id with tracking #%tracking_number is out for delivery by %merchant_name." increment_id=$increment_id tracking_number=$tracking_number merchant_name=$merchant_name }}</p>
<p class="email-p">{{trans "Here is your Shipping summary"}} </p>
<p class="email-p">{{trans "Order Number ID"}} {{var increment_id}} </p>
<p class="email-p">{{trans "Tracking Number"}} {{var tracking_number}} </p>
<p class="email-p">{{trans "Your Order will be shipped to:"}}</p>
<p class="email-p">{{var formattedShippingAddress|raw}}</p>
<p class="email-p">{{trans "Merchant Name"}} {{var merchant_name}} <img class="picture-merchant-logo" alt="merchant_logo" src="{{var merchant_logo}}" style="height:200px"/></p>
<p class="email-p">{{trans "Merchant Service number"}} {{var merchant_contact}} </p>
<p class="email-p">{{trans "Courier Information"}} {{var tracking_courier_name}} {{var tracking_number}} </p>
<br>
<p class="email-p">{{trans "Package information"}}</p>
<table dir="{{var email_content_direction}}">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <tbody>
                <tr>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Product picture"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Product name"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Price"}}
                    </th>
                </tr>
                {{var product_info|raw}}
                </tbody>
            </table>
        </td>
    </tr>
</table>
<br>
<p class="email-p">{{trans "Shipping Fees"}} {{var shipping_fees|raw}}</p>
<p class="email-p">{{trans "Grand Total shipment"}} {{var grand_total|raw}}</p>
<br>
<p class="email-p">{{trans "We hope you enjoyed shopping on ARB marketplace, and we are looking for your next order."}}</p>

{{template config_path="design/email/footer_template"}}
