<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

/** @var $block \Webkul\MpVendorAttributeManager\Block\Adminhtml\Attribute\Edit\Tab\Labels  */
?>

<div class="fieldset-wrapper admin__collapsible-block-wrapper opened" id="manage-titles-wrapper">
    <div class="fieldset-wrapper-title">
        <strong class="admin__collapsible-title" data-toggle="collapse" data-target="#manage-titles-content">
            <span><?=  /**@escapeNotVerified */ ('Manage Titles (Size, Color, etc.)') ?></span>
        </strong>
    </div>
    <div class="fieldset-wrapper-content in collapse" id="manage-titles-content">
        <fieldset class="fieldset">
            <table class="admin__control-table" id="attribute-labels-table">
                <thead>
                <tr>
                    <?php foreach ($block->getStores() as $_store): ?>
                        <th class="col-store-view"><?=  /**@escapeNotVerified */ $_store->getName() ?></th>
                    <?php endforeach; ?>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <?php $_labels = $block->getLabelValues() ?>
                    <?php foreach ($block->getStores() as $_store): ?>
                        <td class="col-store-view">
                            <input class="input-text
                            <?php if ($_store->getId() == \Magento\Store\Model\Store::DEFAULT_STORE_ID): ?>
                                 required-option<?php endif; ?>" type="text" 
                                 name="frontend_label[<?=  /**@escapeNotVerified */ $_store->getId() ?>]" 
                                 value="<?=  $block->escapeHtml($_labels[$_store->getId()]) ?>"
                                 <?php if ($block->getReadOnly()):?> disabled="disabled"<?php endif;?>/>
                        </td>
                    <?php endforeach; ?>
                </tr>
                </tbody>
            </table>
        </fieldset>
    </div>
</div>
