<?php
/**
 * OTP field
 *
 * @category Arb
 * @package Arb_OTPLogin
 * @author Arb Magento Team
 *
 */
?>
<?php
/**
 * @var $block \Magento\Framework\View\Element\Template
 */
?>
<style>
    #generate-otp{
        background-color: #eb5202;
        border-color: #eb5202;
        color: #ffffff;
        padding: 1em 1.5em;
        text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        text-decoration: none;
    }
</style>
<div id="otp-trigger" class="field">
    <a id="generate-otp" href="javascript:void(0);"><?= $block->escapeHtml(__('Next'))?></a>
    <span id="loading-text" style="display:none"><?= $block->escapeHtml(__('Verifying...')) ?></span>
    <span id="otp-result" style="display: none"></span>
</div>
<div class="field">
    <a class="action remind" href="<?= $block->escapeUrl($block->getUrl('customer/account/forgotpassword/')) ?>"> <span><?= $block->escapeHtml(__('Forgot Your Password?')) ?></span></a>
</div>
<div id="otp-field" class="field otp required" style="display: none;">
    <label class="label" for="email"><span><?= $block->escapeHtml(__('OTP')) ?></span></label>
    <div class="control">
        <input name="login[otp]"
            maxlength="<?= $block->escapeHtmlAttr('4') ?>"
            autocomplete="off"
            id="otp" type="password"
            class="input-text minimum-length-4"
            title="<?= $block->escapeHtmlAttr(__('OTP')) ?>"
            data-validate="{required:true, 'validate-number':true, 'validate-length':true}"/>
    </div>
    <span id="otp-error" style="display: none;" ></span>
</div>
