<?php
/**
 * Layout to separate order by merchant shipments
 *
 * @category Arb
 * @package Arb_Order
 * @author Arb Magento Team
 *
 */
?>
<?php
/**
 * @var \Magento\Framework\View\Element\Template $block
 */
?>
<?php $productInfo = $block->getProductInfo(); ?>
<?php reset($productInfo); ?>
<?php $firstMerchant = key($productInfo); ?>
<?php $direction = $productInfo[$firstMerchant][0]['direction']; ?>
<?php $alignment = $productInfo[$firstMerchant][0]['alignment']; ?>
<?php $totalShipment = count($productInfo) ?>
<table dir="<?= $direction ?>">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <tbody>
                <tr>
                    <th align="<?= $alignment ?>" class="column-order-details">
                        <?= $block->escapeHtml(__('Product image')) ?>
                    </th>
                    <th align="<?= $alignment ?>" class="column-order-details">
                        <?= $block->escapeHtml(__('Product name')) ?>
                    </th>
                    <th align="<?= $alignment ?>" class="column-order-details">
                            <?= $block->escapeHtml(__('Product price')) ?>
                    </th>
                </tr>
                <?php $shipment = 1 ?>
                <?php foreach ($productInfo as $products): ?>
                    <tr><td colspan="3">&nbsp;</td></tr>
                    <tr>
                        <td align="<?= $alignment ?>" colspan="3"><?= $block->escapeHtml(__('Shipment %1 of %2', $shipment, $totalShipment))?></td>
                    </tr>
                    <?php foreach ($products as $product): ?>
                        <tr><td colspan="3">&nbsp;</td></tr>
                        <tr>
                            <td align="<?= $alignment ?>" class="item">
                                <img width="200" height="200" alt="product_image" src="<?= $block->escapeHtmlAttr($product['product_image']) ?>"/>
                            </td>
                            <td align="<?= $alignment ?>" class="item"><?= $block->escapeHtml($product['product_name']) ?></td>
                            <td align="<?= $alignment ?>" dir="ltr" class="item"><?= $block->escapeHtml($product['qty']).' x ' . $block->escapeHtml($product['price']) ?></td>
                        </tr>
                        <tr><td align="<?= $alignment ?>" colspan="3">&nbsp;</td></tr>
                    <?php endforeach; ?>
                    <?php reset($products); ?>
                    <?php $firstProduct = key($products); ?>
                    <tr>
                        <td align="<?= $alignment ?>" colspan="2" ><?= $block->escapeHtml(__('Shipping Fees')) ?></td>
                        <td align="<?= $alignment ?>"><?= $block->escapeHtml($products[$firstProduct]['shipping_fees']) ?></td>
                    </tr>
                    <tr>
                        <td align="<?= $alignment ?>" colspan="2"><?= $block->escapeHtml(__('Grand Total')) ?></td>
                        <td align="<?= $alignment ?>"><?= $block->escapeHtml($products[$firstProduct]['grand_total_amount']) ?></td>
                    </tr>
                    <?php $shipment++ ?>
                <?php endforeach; ?>
                </tbody>
            </table>
        </td>
    </tr>
</table>
            


