<!--@subject {{trans "You have A return product request on ARB Marketplace with number %rma_id" rma_id=$rma_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->
{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "Hello"}} {{var name}},</p>
<p class="email-p">{{trans "There is a return product request with RMA number :"}} {{var rma_id}} <a href="{{var rma_url}}">{{var rma_url}}</a> {{trans "on ARB Marketplace."}}</p>
<p class="email-p">{{trans "Kindly try to complete this request before %sla_date ." sla_date=$sla_date}} {{trans "We hope to a successful trade on  Alrajhi Marketplace."}}</p>
<p class="email-p">{{trans "ARB hotline for Merchants: 1999."}}</p>


{{template config_path="design/email/footer_template"}}
