<!--
/**
 * Template for Order Returned
 *
 * @category Arb
 * @package Arb_Creditmemo
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "Your return Order #%order_increment_id from ARB Marketplace has a new notification from Merchant" order_increment_id=$order_increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
.column-order-details { background-color:#EAEAEA; font-size:13px; padding:5px 9px 6px 9px; line-height:1em; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->
{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "Hello"}} {{var customer_name}},</p>
<p class="email-p">{{trans "We would like to inform you that merchant %merchant_name has agreed to return your order %order_increment_id"
    merchant_name=$merchant_name order_increment_id=$order_increment_id}} </p>
<br>
<p class="email-p">{{trans "Here is your order summary"}} </p>
<p class="email-p">{{trans "Order Number ID"}} {{var order_increment_id}}</p>
<p class="email-p">{{trans "Return reference number"}} {{var return_number}} </p>
<p class="email-p">{{trans "Merchant Name"}} {{var merchant_name}} <img class="picture-merchant-logo" alt="merchant_logo" src="{{var merchant_logo}}"/></p>
<p class="email-p">{{trans "Merchant Service number"}} {{var merchant_service_number}} </p>
<p class="email-p">{{trans "Courier Information"}} {{var courier_name}} {{var courier_number}}</p>
<p class="email-p">{{trans "Return delivery address"}} {{var return_address}} </p>
<br>
<p class="email-p">{{trans "Return items information"}}:</p>
<table dir="{{var email_content_direction}}">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <tbody>
                <tr>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Product picture"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Product name"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Price"}}
                    </th>
                </tr>
                {{var return_details|raw}}
                </tbody>
            </table>
        </td>
    </tr>
    <tr>
    <p class="email-p">{{trans "Shipping Fees"}} {{var shipping_fees}} </p>
    <p class="email-p">{{trans "Grand Total"}} {{var grand_total}} </p>
    </tr>
</table>
<br>
<br>
<p class="email-p">{{trans "We hope you enjoyed shopping on ARB marketplace , and we are looking for your next order"}}</p>
{{template config_path="design/email/footer_template"}}
