<!--
/**
 * Template for Customer RMA Notification
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "Your return Order # %order_increment_id from ARB Marketplace has a new notification from Merchant" order_increment_id=$order_increment_id}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->
{{template config_path="design/email/header_template"}}
<style>
    th.item, td.item {
        font-size:12px;
        padding:7px 9px 9px 9px;
        border-left:1px solid #EAEAEA;
        border-bottom:1px solid #EAEAEA;
        border-right:1px solid #EAEAEA;
        border-top:1px solid #EAEAEA
    }
</style>
<table dir="{{var email_content_direction}}">
    <tr>
        <td align="center" valign="top" style="padding:20px 0 20px 0" dir="{{var email_content_direction}}">
            <table bgcolor="#FFFFFF" cellspacing="0" cellpadding="10" border="0" width="650" style="border:1px solid #E0E0E0;" dir="{{var email_content_direction}}">
                <tr>
                    <td valign="top">
                        <h1 style="font-size:22px;font-weight:normal;line-height:22px;margin:0 0 11px 0;">{{trans "Hello"}} {{var name}},</h1>
                        <p style="font-size:14px;">{{var msg}}</p>
                        <p style="font-size:14px;">{{var reject_reason}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p style="font-size:14px;">{{trans "Here is your return order summary"}}</p>
                        <table cellspacing="0" cellpadding="0" border="0" width="650" dir="{{var email_content_direction}}">
                            <tbody>
                                <tr>
                                    <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Order Number ID"}} {{var order_number}}</th>
                                    <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Merchant Name"}}</th>
                                </tr>
                                <tr>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                        {{var customer_address|raw}}
                                    </td>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                        <p class="email-p">
                                            {{var merchant_name}}
                                            <span style="float:right;">
                                                <img style="max-width:200px;" src="{{var merchant_logo}}">
                                            </span>
                                        </p>
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Merchant Service Number"}}</th>
                                    <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Return reference number"}}</th>
                                </tr>
                                <tr>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                        {{var merchant_phone}}
                                    </td>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                        {{var rma_id}}
                                    </td>
                                </tr>
                            </tbody>
                            <tbody>
                                <tr>
                                    <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Courier Information"}}</th>
                                    <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Return delivery address"}}</th>
                                </tr>
                                <tr>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                        {{var courier_name|raw}} {{var courier_number|raw}}
                                    </td>
                                    <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                        {{var customer_address|raw}}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>
                
                <tr>
                    <td>
                        <p style="font-size:14px;">{{trans "Return items information"}}</p>
                        <table cellspacing="0" cellpadding="0" border="0" width="650">
                            <tbody>
                            <tr>
                                <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Product"}}</th>
                                <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Price"}}</th>
                                <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Image"}}</th>
                            </tr>
                                {{var product_data|raw}}
                            </tbody>
                            <tbody>
                            <tr>
                                <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Shipping Fees"}}</th>
                                <th align="{{var email_content_alignment}}" bgcolor="#EAEAEA" style="font-size:13px;padding:5px 9px 6px 9px;line-height:1em;">{{trans "Grand Total"}}</th>
                            </tr>
                            <tr>
                                <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                    {{var shipping_fee|raw}}
                                </td>
                                <td valign="top" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                                    {{var grand_total|raw}}
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>
                </tr>


                <tr>
                    <td bgcolor="#EAEAEA" align="center" style="background:#EAEAEA;text-align:center;">
                        <center>
                            <p style="font-size:12px;margin:0;">
                                <strong>{{trans "We hope you enjoyed shopping on ARB marketplace, and we are looking for your next order"}}</strong>
                            </p>
                        </center>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
{{template config_path="design/email/footer_template"}}
