<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpFixedRateshipping
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
    $fixedRateBlock = $block->getLayout()->createBlock(\Webkul\MpFixedRateshipping\Block\ManageFixrateShipping::class);
    $mpHelper = $fixedRateBlock->getHelperObject('marketplaceHelper');
    $helper = $fixedRateBlock->getHelperObject('mpFixedRateHelper');
    $isPartner = $mpHelper->isSeller();
    $isSellerGroup = $mpHelper->isSellerGroupModuleInstalled();
    $magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($isPartner && $helper->getConfigData('active')) : ?>
    <?php if (($isSellerGroup && $mpHelper->isAllowedAction('mpfixrate/shipping/view')) || !$isSellerGroup) : ?>
        <li id="wk-mp-menu-fixed-shipping" class="level-2 <?= /* @noEscape */ strpos($magentoCurrentUrl, 'mpfixrate/shipping/view')? "current active":"";?>">
            <a href="<?= /* @noEscape */ $block->getUrl('mpfixrate/shipping/view', ['_secure' => $block->getRequest()->isSecure()]); ?>">
                <?= /* @noEscape */ __('Manage Fixed Rate Shipping') ?>
            </a>
        </li>
    <?php endif; ?>
<?php endif; ?>