<?php $customerAttributes = $block->getCustomerAttributes() ?>
<?php if (count($customerAttributes)): ?>
    <script>
        require([
            "jquery",
            "mage/mage",
            "prototype"
        ], function($){
            $.each($('.custom_date_field'),function(i,v){
                $(this).calendar({
                dateFormat:'yyyy-MM-dd',
                buttonText: "Select Date"
                });
            });

            $("input[type='file']").attr('form','customer_form');
            $("select[multiple='multiple']").attr('form','customer_form');
            $("input[type='checkbox']").on('change', function(){
                if (this.checked) {
                    $(this).attr('form','customer_form');
                    $(this).attr('value','1');
                }else{
                $(this).attr('value','0');
                }
            });
        });
    </script>
<?php else: ?>
    <div class="admin__fieldset-wrapper opened">
        <div class="admin__fieldset-wrapper-title">
            <strong class="title">
                <span data-bind="text: label"><?= /**@escapeNotVerified */ __('Additional Information') ?></span>
            </strong>
        </div>
        <div class="admin__fieldset-wrapper-content">
            <fieldset class="admin__fieldset">
                <address>
                   <?= /**@escapeNotVerified */ __('No, Attributes are not assigned for the Customer.'); ?>
                </address>   
            </fieldset>
        </div>
    </div>
<?php endif; ?>      


