<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$mpHelper = $block->getMpHelper();
$helper = $block->getHelper();
$storeId = $helper->getStore()->getId();
$title = __("Additional Information");
$isVendor = 0;
if ($helper->isVendorRegistration()) {
    $title = __("Vendor Information");
    $isVendor = 1;
}
$groupDisplay = $helper->getConfigData('group_display');
$allowedImageExtension = $helper->getConfigData('allowede_image_extension');
$allowedFileExtension = $helper->getConfigData('allowede_file_extension');
?>

<?php if (!$groupDisplay) { ?>
    <?php
        $attributeCollection = $helper->getAttributeCollection($isVendor);
    ?>
    <?php if ($attributeCollection && $attributeCollection->getSize()) { ?>
        <fieldset class="fieldset vendorfields">
            <legend class="legend">
                <span><?= /**@escapeNotVerified */ $title; ?></span>
            </legend>
            <?php foreach ($attributeCollection as $attribute) { ?>
                <div class="field <?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>
                    <?= /**@escapeNotVerified */ $attribute->getRequiredField() ? 'required' : '' ?>">
                    <?php if ($attribute->getFrontendInput() != "boolean") { ?>
                        <label class="label"
                            for="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>">
                            <span><?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?></span>
                        </label>
                    <?php } ?>
                    <div class="control">
                        <?php switch ($attribute->getFrontendInput()) {
                            case "text":
                                ?>
                                <input type="text"
                                        name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="input-text
                                            <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                        <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                            'data-validate="{required:true,'."'validate-no-html-tags':true".'}"' :
                                            'data-validate="{'."'validate-no-html-tags':true".'}"' ?>
                                        autocomplete="off"
                                        aria-required="true"/>
                                <?php
                                      break;
                            case "textarea":
                                ?>
                                <textarea name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="input-text
                                            <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                        <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                            'data-validate="{required:true,'."'validate-no-html-tags':true".'}"' :
                                            'data-validate="{'."'validate-no-html-tags':true".'}"' ?> >
                                </textarea>
                                <?php
                                      break;
                            case "date":
                                ?>
                                <input type="text"
                                        name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="dob_type <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                        <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                            'data-validate="{required:true,'."'validate-no-html-tags':true".'}"' :
                                            'data-validate="{'."'validate-no-html-tags':true".'}"' ?>
                                        autocomplete="off">
                                <?php
                                      break;
                            case "boolean":
                                ?>
                                <input type="checkbox"
                                        name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="wkinput-text
                                        <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                        <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                            'data-validate="{required:true}"':'' ?> value="1"/>
                                <label for="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                    class="wklabel  <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                        ' wkboolreq':'' ?>">
                                    <span><?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId); ?></span>
                                </label>
                                <?php
                                      break;
                            case "multiselect":
                                ?>
                                <select name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="input-select
                                            <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                        <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                            'data-validate="{required:true}"':'' ?>
                                        multiple="multiple">
                                            <?php
                                            $attributeOptions = $attribute->getSource()->getAllOptions();
                                            array_shift($attributeOptions);
                                            ?>
                                            <?php foreach ($attributeOptions as $option) { ?>
                                                <option value="<?= /**@escapeNotVerified */ $option['value'] ?>">
                                                    <?= /**@escapeNotVerified */ $option['label'] ?>
                                                </option>
                                            <?php } ?>
                                </select>
                                <?php
                                      break;
                            case "select":
                                ?>
                                <select name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="input-select
                                            <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                        <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                            'data-validate="{required:true}"':'' ?>>
                                            <?php
                                            $attributeOptions = $attribute->getSource()->getAllOptions();
                                            ?>
                                            <?php foreach ($attributeOptions as $option) { ?>
                                                <option value="<?= /**@escapeNotVerified */ $option['value'] ?>">
                                                    <?= /**@escapeNotVerified */ $option['label'] ?>
                                                </option>
                                            <?php } ?>
                                </select>
                                <?php
                                      break;
                            case "image":
                                ?>
                                <input type="file"
                                        name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="input-text custom_file
                                            <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                             data-allowed = "<?= /**@escapeNotVerified */ $allowedImageExtension; ?>"
                                        <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                            'data-validate="{required:true}"':'' ?>>
                                <span class="note custom_file"><span>
                                    <?= /**@escapeNotVerified */ $allowedImageExtension ?></span></span>
                                <?php
                                      break;
                            case "file":
                                ?>
                                <input type="file"
                                        name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                        title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                        class="input-text custom_file
                                            <?= /**@escapeNotVerified */ $attribute->getFrontendClass() ?>"
                                        data-allowed = "<?= /**@escapeNotVerified */ $allowedFileExtension; ?>"
                                        <?= /**@escapeNotVerified */
                                            $attribute->getRequiredField()? 'data-validate="{required:true}"':'' ?>>
                                <span class="note custom_file"><span>
                                    <?= /**@escapeNotVerified */ $allowedFileExtension ?></span></span>
                                <?php
                                      break;
                            default:
                                ?>
                                <div class="control">
                                    <input type="text"
                                            name="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                            id="<?= /**@escapeNotVerified */ $attribute->getAttributeCode() ?>"
                                            title="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId) ?>"
                                            class="input-text <?= /**@escapeNotVerified */
                                                $attribute->getFrontendClass() ?>"
                                            <?= /**@escapeNotVerified */ $attribute->getRequiredField()?
                                                'data-validate="{required:true}"':'' ?>
                                            autocomplete="off"
                                            aria-required="true"/>
                                </div>
                        <?php } ?>
                    </div>
                </div>
            <?php } ?>
        </fieldset>
        <script>
        require([
            'jquery',
            'mage/mage',
            'mage/calendar',
            'mage/adminhtml/wysiwyg/tiny_mce/setup'
        ],function($){
            $.each($('.dob_type'),function(i,v){
                $(this).calendar({
                    dateFormat:  "yyyy-MM-dd",
                    showOn: "both",
                    buttonText: "",
                    yearRange: "-100:+100",
                });
            });

            var dataForm = $('#form-validate');
            $('.custom_file').change(function(){
                var ext_arr = $(this).attr("data-allowed").split(",");
                var new_ext_arr = [];
                for (var i = 0; i < ext_arr.length; i++) {
                new_ext_arr.push(ext_arr[i]);
                new_ext_arr.push(ext_arr[i].toUpperCase());
                }
                if(new_ext_arr.indexOf($(this).val().split("\\").pop().split(".").pop()) < 0){
                    var self = $(this);
                    self.val('');
                    $('<div />').html('Invalid Extension. Allowed extensions are '+$(this).attr("data-allowed"))
                    .modal({
                        title: 'Attention!',
                        autoOpen: true,
                        buttons: [{
                            text: 'Ok',
                            attr: {
                                'data-action': 'cancel'
                            },
                            'class': 'action',
                            click: function() {
                                self.val('');
                                this.closeModal();
                            }
                        }]
                    });
                }
            });

            $.each($('.vendorfields textarea'), function () {
                if ($(this).hasClass('wysiwyg_enabled')) {
                    var id = $(this).attr('id');
                    var editor = new wysiwygSetup(id,{
                        "width" : "100%",
                        "height" : "200px",
                        "plugins" : [{"name":"image"}],
                        "tinymce4" : {
                            "toolbar":"formatselect | bold italic underline | "+
                            "alignleft aligncenter alignright | bullist numlist | link table charmap","plugins":
                            "advlist autolink lists link charmap media noneditable table contextmenu paste code"+
                            " help table",
                        }
                    });
                    editor.setup("exact");
                }
            });
        });
        </script>
    <?php } ?>
<?php } else { ?>
    <script>
        window.vendorConfig = <?= /**@escapeNotVerified */ \Zend_Json::encode($helper->getVendorConfig()); ?>;
        window.isVendorForm = <?= /**@escapeNotVerified */ $isVendor; ?>;
    </script>
    <div id="vendor-component" data-bind="scope:'vendor-form-field'" class="field required">
        <!-- ko template: getTemplate() --><!-- /ko -->
        <script type="text/x-magento-init">
        {
            "#vendor-component": {
                "Magento_Ui/js/core/app":  <?= /**@escapeNotVerified */ $block->getJsLayout();?>
            }
        }
        </script>
    </div>
<?php } ?>
