<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
//@codingStandardsIgnoreFile
 ?>
<?php
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner = $_helper->isSeller();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
    $magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($isPartner): ?>
    <?php if (($isSellerGroup && $_helper->isAllowedAction('mprmasystem/seller/allrma')) || !$isSellerGroup): ?>
        <li id="wk-mp-menu-rma" class="wk-mp-item-order level-0 <?php echo strpos($magentoCurrentUrl, 'mprmasystem/seller/allrma')? "current":"";?>">
            <a href="<?php echo $block->getUrl('mprmasystem/seller/allrma', ['_secure' => $this->getRequest()->isSecure()]); ?>">
                <span><?php /* @escapeNotVerified */ echo __('Marketplace RMA') ?></span>
            </a>
        </li>
    <?php endif; ?>
<?php endif; ?>
