<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
//@codingStandardsIgnoreFile
 ?>
<?php
    $_helper = $this->helper('Webkul\Marketplace\Helper\Data');
    $isPartner = $_helper->isSeller();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
    $magentoCurrentUrl = $block->getCurrentUrl();
?>
<?php if ($isPartner): ?>
    <?php if (($isSellerGroup && $_helper->isAllowedAction('mprmasystem/seller/allrma')) || !$isSellerGroup): ?>
        <li class="nav item <?php echo strpos($magentoCurrentUrl,'mprmasystem/seller/allrma') !== false? "current":"";?>">
            <?php if (strpos($magentoCurrentUrl,'mprmasystem/seller/allrma') !== false) { ?>
                <strong><?php echo __('Marketplace RMA') ?></strong>
            <?php } else { ?>
                <a href="<?php echo $block->getUrl('mprmasystem/seller/allrma'); ?>">
                    <?php echo __('Marketplace RMA') ?>
                </a>
            <?php } ?>
        </li>
    <?php endif; ?>
<?php endif; ?>
