<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpVendorAttributeManager
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */

$helper = $block->getHelper();
$storeId = $helper->getStore()->getId();
$mpHelper = $block->getMpHelper();
$jsonHelper = $block->getJsonHelper();
$mediaUrl = $mpHelper->getMediaUrl();
$customerAttributes = $block->getAttributeCollection();
$customer = $block->loadCustomer();
if ($helper->getConfigData('group_display') && $customer->getIsVendorGroup()) {
    $customerAttributes = $block->getAttributeCollectionByGroup($customer->getIsVendorGroup());
}

if ($customerAttributes) {
    ?>
<div class="wkeditprofile">
    <form name="customer-additional-attribute" action="<?= /**@escapeNotVerified */ $block->getCustomerActionUrl();?>"
         enctype="multipart/form-data" method="post" data-role="form-profile-validate"
         data-mage-init='{"validation":{}}'>
        <?= /**@escapeNotVerified */ $block->getBlockHtml('formkey');?>
        <div class="wk-mp-design">
            <fieldset class="fieldset info wk-mp-fieldset custom-fieldset customer-attributes">
                <div class="wk-mp-page-title page-title">
                    <button class="button wk-mp-btn"
                        title="<?= /**@escapeNotVerified */ __('Save Attributes') ?>"
                        type="submit" id="save-btn">
                        <span><span><?= /**@escapeNotVerified */ __('Save Attributes') ?></span></span>
                    </button>
                    <legend class="legend"><span><?= /**@escapeNotVerified */
                        $block->getConfigData('profile_label') ?></span></legend>
                </div>

                <?php
                foreach ($customerAttributes as $attribute) {
                    $isRequired = $block->checkIfRequired($attribute->getId());
                    ?>
                    <div class="field profile
                        <?= /**@escapeNotVerified */ $isRequired ? 'required' : '' ?>">
                        <?php if ($attribute->getFrontendInput() != "boolean") { ?>
                            <label for="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId); ?>" class="label">
                                <span><?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId); ?></span>
                            </label>
                        <?php } ?>
                        <div class="control">
                            <?php
                            $attributeCode = $attribute->getAttributeCode();

                            switch ($attribute->getFrontendInput()) {
                                case "text":
                                    ?>
                                <input type="text" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    value="<?= /**@escapeNotVerified */
                                                        $block->escapeHtml($customer->getData($attributeCode)); ?>"
                                                    <?= /**@escapeNotVerified */ $isRequired ?
                                                        'data-validate=
                                                            "{required:true,'."'validate-no-html-tags':true".'}"' :
                                                            'data-validate="{'."'validate-no-html-tags':true".'}"' ?>
                                                    class="input-text
                                                        <?= /**@escapeNotVerified */ $attribute->getFrontendClass();?>"
                                                    autocomplete="off" />
                                    <?php
                                    break;
                                case "textarea":
                                    ?>
                                <textarea name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                    <?= $isRequired ? 'data-validate="{required:true}"' : '' ?>
                                    class="input-text validate-no-html-tags
                                    <?= /**@escapeNotVerified */ $attribute->getFrontendClass(); ?>
                                    "
                                    ><?= /**@escapeNotVerified */ $customer->getData($attributeCode); ?></textarea>
                                    <?php
                                    break;
                                case "date":
                                    $attributeValue = $customer->getData($attributeCode);
                                    $dateValue = $block->convertDateFormat($attributeValue);
                                    ?>
                                <input type="text" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    value="<?= /**@escapeNotVerified */ $dateValue; ?>"
                                                    class="dob_type <?= /**@escapeNotVerified */
                                                        $attribute->getFrontendClass(); ?>"
                                                    <?= /**@escapeNotVerified */ $isRequired ?
                                                        'data-validate="
                                                            {required:true,'."'validate-no-html-tags':true".'}"' :
                                                        'data-validate="{'."'validate-no-html-tags':true".'}"' ?>
                                                    autocomplete="off" />
                                    <?php
                                    break;
                                case "boolean":
                                    $value = $customer->getData($attributeCode);
                                    ?>
                                <input type="checkbox" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                       id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                       class="input-text <?= /**@escapeNotVerified */
                                                        $attribute->getFrontendClass(); ?>"
                                                       value="<?= /**@escapeNotVerified */
                                                        $customer->getData($attributeCode); ?>"
                                                       onchange="this.value = this.checked ? 1 : 0;"
                                                       <?= /**@escapeNotVerified */ $isRequired ?
                                                        'data-validate="{required:true}"' : '' ?>
                                                       <?= /**@escapeNotVerified */
                                                        $customer->getData($attributeCode) ? 'checked' : '' ; ?> />
                                <label for="<?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId); ?>"
                                    class="label <?= /**@escapeNotVerified */ $isRequired ? 'wkboolreq' : '' ?>">
                                <span><?= /**@escapeNotVerified */ $attribute->getStoreLabel($storeId); ?></span>
                            </label>
                                    <?php
                                    break;
                                case "multiselect":
                                    $options = $attribute->getSource()->getAllOptions();
                                    $selectedoptions = $customer->getData($attributeCode);
                                    ?>
                                <select name="<?= /**@escapeNotVerified */ $attributeCode; ?>[]"
                                        id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        class="input-select <?= /**@escapeNotVerified */
                                            $attribute->getFrontendClass(); ?>"
                                        <?= /**@escapeNotVerified */ $isRequired ?
                                            'data-validate="{required:true}"':''?>
                                        multiple="multiple">
                                        <?php
                                        foreach ($options as $option) {
                                            $selected = in_array(
                                                $option['value'],
                                                $selectedoptions
                                            ) ? "selected" : ""; ?>
                                        ?>
                                            <option  value="<?= /**@escapeNotVerified */ $option['value'] ?>"
                                                <?= /**@escapeNotVerified */ $selected; ?>>
                                                <?= /**@escapeNotVerified */ $option['label'] ?>
                                            </option>
                                        <?php } ?>
                                </select>
                                    <?php
                                    break;
                                case "select":
                                    $options = $attribute->getSource()->getAllOptions();
                                    $selectedOption = $customer->getData($attributeCode);
                                    ?>
                                <select name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        class="input-select
                                            <?= /**@escapeNotVerified */ $attribute->getFrontendClass(); ?>"
                                        >
                                        <?php
                                        foreach ($options as $option) {
                                            $selected = ($option['value'] == $selectedOption) ? "selected" : ""; ?>
                                        ?>
                                            <option  value="<?= /**@escapeNotVerified */ $option['value'] ?>"
                                            <?= /**@escapeNotVerified */ $selected; ?>>
                                            <?= /**@escapeNotVerified */ $option['label'] ?></option>
                                        <?php } ?>
                                </select>
                                    <?php
                                    break;
                                case "image":
                                    $imageValue = $customer->getData($attributeCode);
                                    if (isset($imageValue) && $imageValue != 1) {
                                        $imageUrl = $mediaUrl."vendorfiles/image/".$imageValue;
                                    }
                                    ?>
                                    <input type="file" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        data-allowed="<?= /**@escapeNotVerified */
                                            $helper->getConfigData('allowede_image_extension'); ?>"
                                        class="input-text custom_file <?= /**@escapeNotVerified */ $attributeCode; ?>"
                                        <?= /**@escapeNotVerified */ $isRequired && !isset($imageUrl) ?
                                         'data-validate="{required:true}"' : '' ?>
                                        data-value="<?= /**@escapeNotVerified */ $imageValue; ?>" />
                                    <?php if (isset($imageValue) && $imageValue != 1) { ?>
                                    <a href="<?= /**@escapeNotVerified */ $imageUrl ?>"
                                        onclick="imagePreview('customfields_your_image_image'); return false;">
                                        <img src="<?= /**@escapeNotVerified */ $imageUrl ?>"
                                            id="customfields_your_image_image"
                                            title="<?= /**@escapeNotVerified */ __("Preview Image"); ?>"
                                            height="22" width="22" class="small-image-preview v-middle">
                                    </a>
                                <?php } ?>

                                    <?php if (!$isRequired && isset($imageValue) && $imageValue != 1) { ?>
                                    <span class="delete-image">
                                        <input type="checkbox" name="<?= /**@escapeNotVerified */
                                            $attributeCode; ?>['delete']" value=""
                                            onchange="this.value = this.checked ? 1 : 0;" class="checkbox">
                                        <label for="customfields_your_image_delete">
                                            <?= /**@escapeNotVerified */ __('Delete Image') ?></label>
                                    </span>
                                    <input type="hidden"
                                        name="customer['<?= /**@escapeNotVerified */ $attributeCode; ?>']"
                                        value="<?= /**@escapeNotVerified */ $imageValue; ?>" />
                                <?php } ?>
                                <br/>
                                <span class="note">
                                    <?= /**@escapeNotVerified */ __("Allowed Extension's : "); ?>
                                    <span><?= /**@escapeNotVerified */
                                        $block->getConfigData('allowede_image_extension') ?></span>
                                </span>
                                    <?php
                                    break;
                                case "file":
                                    $fileValue = $customer->getData($attributeCode);
                                    if (isset($fileValue) && $fileValue != 1) {
                                        $fileUrl = $mediaUrl."vendorfiles/file/".$fileValue;
                                    }
                                    ?>
                                    <?php if (isset($fileValue) && $fileValue != 1) { ?>
                                    <a href="<?= /**@escapeNotVerified */ $fileUrl
                                        //$helper->encodeFileName($attribute->getFrontendInput(), $fileValue); ?>">
                                        <img alt="Download" title="Download"
                                            src="<?= /**@escapeNotVerified */
                                            $block->
                                                getViewFileUrl('Webkul_MpVendorAttributeManager::images/download.gif');
                                            ?>"
                                            class="v-middle wk_download_link" style="float: left;width: 22px;">
                                        <?= /**@escapeNotVerified */ __('Download'); ?>
                                    </a>
                                <?php } ?>
                                <input type="file" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    data-allowed="<?= /**@escapeNotVerified */
                                                        $helper->getConfigData('allowede_file_extension'); ?>"
                                                    class="input-text custom_file
                                                        <?= /**@escapeNotVerified */ $attributeCode; ?>"
                                                    <?= /**@escapeNotVerified */ $isRequired && !isset($fileUrl) ?
                                                        'data-validate="{required:true}"' : '' ?>
                                                    data-value="<?= /**@escapeNotVerified */ $fileValue; ?>" />
                                    <?php if (!$isRequired && isset($fileValue) && $fileValue != 1) { ?>
                                    <span class="delete-image">
                                        <input type="checkbox"
                                            name="<?= /**@escapeNotVerified */ $attributeCode; ?>['delete']"
                                            value="" onchange="this.value = this.checked ? 1 : 0;"
                                            class="checkbox">
                                        <label for="customfields_your_image_delete">
                                            <?= /**@escapeNotVerified */ __('Delete File') ?></label>
                                    </span>
                                    <input type="hidden"
                                        name="customer['<?= /**@escapeNotVerified */ $attributeCode; ?>']"
                                        value="<?= /**@escapeNotVerified */ $fileValue; ?>" />
                                <?php } ?>
                                <br>
                                <span class="note">
                                    <?= /**@escapeNotVerified */ __("Allowed Extension's : "); ?>
                                    <span><?= /**@escapeNotVerified */
                                        $block->getConfigData('allowede_file_extension') ?></span>
                                </span>
                                    <?php
                                    break;
                                default:
                                    ?>
                                <input type="text" name="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                            id="<?= /**@escapeNotVerified */ $attributeCode; ?>"
                                            data-type= "<?= /**@escapeNotVerified */ $attribute->getFrontendType(); ?>"
                                            value=""
                                            class="input-text" autocomplete="off" />
                                    <?php
                            }
                            ?>
                        </div>
                    </div>
                <?php } ?>
            </fieldset>
        </div>
    </form>
</div>
<?php } else {
    echo "<p style='color:red'>".$block->escapeHtml(__("Sorry! No attributes are assigned to Customer."))."</p>";
} ?>
<?php
    $optionData = [
        'dateField'     => '.dob_type',
        'dateFormat'     => 'yyyy-MM-dd',
        'imageField'    => '.custom_file',
    ];
    $serializedData = $jsonHelper->jsonEncode($optionData);
    ?>
<script type="text/x-magento-init">
{
    "*": {
        "editProfile": <?= /**@escapeNotVerified */ $serializedData; ?>
    }
}
</script>
