<?php
/**
 * @var \Webkul\Marketplace\Block\Account\Navigation $block
 * @var \Webkul\Marketplace\Helper\Data $helper
 */
?>
<?php
// phpcs:disable
$helper = $this->helper(\Webkul\Marketplace\Helper\Data::class);
// phpcs:enable
$isPartner= $helper->isSeller();
$magentoCurrentUrl = $block->getCurrentUrl();
$allow_pro_type=$helper->getAllowedProductType();
$isSellerGroup = $helper->isSellerGroupModuleInstalled();
?>
<?php if ($isPartner): ?>
        <li class="wk-mp-item-vouchers level-0" id="wk-mp-menu-vouchers">
            <a href="#" onclick="return false;" class="">
                <span><?= $block->escapeHtml(__('Vouchers'))?></span>
            </a>
            <div class="wk-mp-submenu">
                <strong class="wk-mp-submenu-title"><?= $block->escapeHtml(__('Voucher Upload'))?></strong>
                <a href="#" class="action-close _close" data-role="wk-mp-close-submenu"></a>
                <ul>
                    <li data-ui-id="menu-webkul-vouchers-menu" class="item-menu parent level-1">
                        <strong class="wk-mp-submenu-group-title">
                            <span><?= $block->escapeHtml(__('Menu'))?></span>
                        </strong>
                        <div class="wk-mp-submenu">
                            <ul>
                                <li class="level-2">
                                    <a href="<?= $block->escapeHtml($block->getUrl(
                                        'vouchers/index/upload',
                                        ['_secure' => $block->getRequest()->isSecure()]
                                    )); ?>">
                                        <span><?= $block->escapeHtml(__('Mass Upload Vouchers'))?></span>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
        </li>
<?php endif; ?>
