<?php
/**
 * Navigation menu for webkul merchant
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
?>
<?php
    $_helper = $block->getMpHelper();
    $isPartner= $_helper->isSeller();
    $magentoCurrentUrl = $block->getCurrentUrl();
    $allow_pro_type=$_helper->getAllowedProductType();
    $isSellerGroup = $_helper->isSellerGroupModuleInstalled();
    $productNotificationCount = $block->getProductNotificationCount();
    $orderNotificationCount = $block->getOrderNotificationCount();
    $transactionCount = $block->getTransactionNotificationCount();
?>
<nav data-mage-init='{"Webkul_Marketplace/js/sellerNavigation": {}}' class="wk-mp-menu wk-mp-main">
    <ul id="wk-mp-nav">
        <?php if ($isPartner): ?>
            <?php if ($_helper->isAllowed('marketplace/account/dashboard')): ?>
                <li 
                    class="wk-mp-item-dashboard level-0
                    <?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/account/dashboard')
                    ? "current active":"";?>" 
                    id="wk-mp-menu-dashboard" >
                        <a href="<?=$block->escapeUrl(
                                    $block->getUrl(
                                        'marketplace/account/dashboard',
                                        ['_secure' => $block->getRequest()->isSecure()]
                                    )
                                ); ?>"
                            class="<?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/account/dashboard')
                            ? "active":"";?>">
                                <span><?= /* @noEscape */ __('Dashboard') ?></span>
                        </a>
                </li>
            <?php endif; ?>
            <?php
            $actions = ["marketplace/product/add", "marketplace/product/productlist", "marketplace/product_attribute/new"];
            ?>
            <!-- Mass Import from MpMassUpload module -->
            <?php if (($isSellerGroup && ($helper->isAllowedAction('mpmassupload/product/view') ||
                        $helper->isAllowedAction('mpmassupload/product/export') ||
                        $helper->isAllowedAction('mpmassupload/dataflow/profile'))) ||
                !$isSellerGroup) { ?>
                <?php
                if ((strpos($magentoCurrentUrl, 'mpmassupload/product') === 1) ||
                    (strpos($magentoCurrentUrl, 'mpmassupload/dataflow') === 1)) {
                    $currentClass = "current active";
                } else {
                    $currentClass = "";
                } ?>
                <li class="wk-mp-item-massupload level-0 <?= $block->escapeHtml($currentClass)?>" id="wk-mp-menu-massupload">
                    <a href="#" onclick="return false;" class="">
                        <span><?= $block->escapeHtml(__('Mass Upload'))?></span>
                    </a>
                    <div class="wk-mp-submenu">
                        <strong class="wk-mp-submenu-title"><?= $block->escapeHtml(__('Mass Upload'))?></strong>
                        <a href="#" class="action-close _close" data-role="wk-mp-close-submenu"></a>
                        <ul>
                            <li data-ui-id="menu-webkul-massupload-menu" class="item-menu parent level-1">
                                <strong class="wk-mp-submenu-group-title">
                                    <span><?= $block->escapeHtml(__('Menu'))?></span>
                                </strong>
                                <div class="wk-mp-submenu">
                                    <ul>
                                        <?php if (($isSellerGroup && $helper->isAllowedAction('mpmassupload/product/view')) ||
                                            !$isSellerGroup) { ?>
                                            <li class="level-2">
                                                <a href="<?= $block->escapeHtml($block->getUrl(
                                                    'mpmassupload/product/view',
                                                    ['_secure' => $block->getRequest()->isSecure()]
                                                )); ?>">
                                                    <span><?= $block->escapeHtml(__('Mass Upload Product'))?></span>
                                                </a>
                                            </li>
                                        <?php } ?>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            <?php } ?>
            <?php if ($_helper->isAllowed($actions)): ?>
                <li class="wk-mp-item-product level-0 <?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/product/')? "current active":"";?>" id="wk-mp-menu-product">
                    <a href="#" onclick="return false;" class="">
                        <span><?= /* @noEscape */ __('Products')?></span>
                    </a>
                    <div class="wk-mp-submenu">
                        <strong class="wk-mp-submenu-title"><?= /* @noEscape */ __('Products')?></strong>
                        <a href="#" class="action-close _close" data-role="wk-mp-close-submenu"></a>
                        <ul>
                            <li data-ui-id="menu-webkul-marketplace-menu" class="item-menu parent level-1">
                                <strong class="wk-mp-submenu-group-title">
                                    <span><?= /* @noEscape */ __('Menu')?></span>
                                </strong>
                                <div class="wk-mp-submenu">
                                    <ul>
                                        <?php if ($_helper->isAllowed('marketplace/product/add')): ?>
                                            <li class="level-2">
                                                <a href="<?= $block->escapeUrl($block->getUrl('marketplace/product/add', ['_secure' => $this->getRequest()->isSecure()])); ?>">
                                                    <span><?= /* @noEscape */ __('Add Products') ?></span>
                                                </a>
                                            </li>
                                        <?php endif; ?>
                                        <?php if ($_helper->isAllowed('marketplace/product/productlist')): ?>
                                            <li class="level-2">
                                                <a href="<?= $block->escapeUrl($block->getUrl('marketplace/product/productlist', ['_secure' => $this->getRequest()->isSecure()])); ?>">
                                                    <span><?= /* @noEscape */ __('My Products List') ?></span>
                                                </a>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            <?php endif; ?>
            <?php if ($_helper->isAllowed('marketplace/order/history')): ?>
                <li 
                    class="nav item notification-link wk-mp-item-order level-0 
                    <?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/order')
                    && (!strpos($magentoCurrentUrl, 'marketplace/order/shipping/'))? "current active":"";?>" 
                    id="wk-mp-menu-order" >
                        <a 
                            href="<?=
                                    $block->escapeUrl(
                                        $block->getUrl(
                                            'marketplace/order/history',
                                            ['_secure' => $block->getRequest()->isSecure()]
                                        )
                                    ); ?>"
                            class="<?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/order')
                            && (!strpos($magentoCurrentUrl, 'marketplace/order/shipping/'))
                            ? "active":"";?>">
                            <span><?= /* @noEscape */ __('Orders') ?></span>
                        </a>
                </li>
            <?php endif; ?>
            <?php
                $actions = [
                                "marketplace/product/add",
                                "marketplace/product/productlist",
                                "marketplace/product_attribute/new"
                            ];?>
            <?php if ($_helper->isAllowed($actions)): ?>
                <li 
                    class="wk-mp-item-product level-0
                     <?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/product/')? "current active":"";?>"
                     id="wk-mp-menu-product">
                    <a href="#" onclick="return false;" class="">
                        <span><?= /* @noEscape */ __('Catalogue')?></span>
                    </a>
                    <div class="wk-mp-submenu">
                        <strong class="wk-mp-submenu-title"><?= /* @noEscape */ __('Catalogue')?></strong>
                        <a href="#" class="action-close _close" data-role="wk-mp-close-submenu"></a>
                        <ul>
                            <li data-ui-id="menu-webkul-marketplace-menu" class="item-menu parent level-1">
                                <strong class="wk-mp-submenu-group-title">
                                    <span><?= /* @noEscape */ __('Menu')?></span>
                                </strong>
                                <div class="wk-mp-submenu">
                                    <ul>
                                       
                                        <?php if ($_helper->isAllowed('marketplace/product/productlist')): ?>
                                            <li class="level-2">
                                                <a 
                                                    href="<?=
                                                            $block->escapeUrl(
                                                                $block->getUrl(
                                                                    'marketplace/product/productlist',
                                                                    ['_secure' => $block->getRequest()->isSecure()]
                                                                )
                                                            ); ?>">
                                                    <span><?= /* @noEscape */ __('Products') ?></span>
                                                </a>
                                            </li>
                                        <?php endif; ?>
                                    </ul>
                                </div>
                            </li>
                        </ul>
                    </div>
                </li>
            <?php endif; ?>
            <!-- removed unwanted menus like Customers, Transactions, PDF & Reviews  -->
            <?= $block->getChildHtml('layout2_seller_account_navigation');?>
            <?= $block->getChildHtml('layout2_seller_account_navigation_settings_menu'); ?>
        <?php else: ?>
            <?= $block->getChildHtml('layout2_seller_account_navigation');?>
            <li 
            class="wk-mp-item-order-shipping level-0
             <?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/account/becomeseller')
                ? "current active":"";?>" 
             id="wk-mp-menu-becomeseller" >
                <a 
                    href="<?=
                            $block->escapeUrl(
                                $block->getUrl(
                                    'marketplace/account/becomeseller/',
                                    ['_secure' => $block->getRequest()->isSecure()]
                                )
                            ); ?>"
                    class="<?= /* @noEscape */ strpos($magentoCurrentUrl, 'marketplace/account/becomeseller')
                    ? " active":"";?>">
                    <span><?= /* @noEscape */ __('Dashboard') ?></span>
                </a>
            </li>
        <?php endif; ?>
    </ul>
</nav>
