<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
//@codingStandardsIgnoreFile
?>
<?php
    $helper = $this->helper("Webkul\MpRmaSystem\Helper\Data");
    $items = $block->getAllItems();
?>
<table cellspacing="0" cellpadding="0" border="0" width="650" style="border:1px solid #eaeaea">
    <thead>
        <tr>
            <th align="left" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px"><?php echo __("Product Name"); ?></th>
            <th align="left" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px"><?php echo __("Sku"); ?></th>
            <th align="center" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px"><?php echo __("Return Qty"); ?></th>
            <th align="right" bgcolor="#EAEAEA" style="font-size:13px;padding:3px 9px"><?php echo __("Reason"); ?></th>
        </tr>
    </thead>
    <tbody>
        <?php foreach ($items as $item): ?>
            <tr>
                <td align="left" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;">
                    <?php echo $item->getName(); ?>
                    <?php echo $helper->getOptionsHtml($item); ?>
                </td>
                <td align="left" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;"><?php echo $item->getSku(); ?></td>
                <td align="center" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;"><?php echo $item->getQty(); ?></td>
                <td align="right" style="font-size:12px;padding:7px 9px 9px 9px;border-left:1px solid #EAEAEA;border-bottom:1px solid #EAEAEA;border-right:1px solid #EAEAEA;"><?php echo $helper->getReasonById($item->getReasonId());?></td>
            </tr>
        <?php endforeach;?>
    </tbody>
</table>