<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_MpRmaSystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
//@codingStandardsIgnoreFile
?>
<?php
    $helper = $this->helper("Webkul\MpRmaSystem\Helper\Data");
?>
<?php if ($helper->isGuestLoggedIn()): ?>
    <div class="wk-guest-logout">
        <a href="<?php echo $this->getUrl('mprmasystem/guest/logout'); ?>">Log Out</a>
    </div>
<?php endif; ?>