/**
 *  RTL CSS for admin
 *  
 * @category    Arb
 * @package     Arb_CustomWebkul
 * @author Arb Magento Team
 */
html{direction: rtl;}
.menu-wrapper._fixed{right: 0 !important;}
.menu-wrapper:before{right: 0 !important;}
.menu-wrapper._fixed ~ .page-wrapper{margin-right: 8.8rem !important; margin-left: 0px !important;}
.admin__menu .level-0 > .submenu{right: 100% !important; left:unset !important;transition-duration: unset !important;transition-property: none !important;transition-timing-function: unset !important;}
.page-header-hgroup{float:right !important}
.admin__collapsible-block-wrapper .admin__collapsible-title:before {right:0.3rem !important}
.admin__field-label{float: right !important; margin-left: 0px !important;right: 0;}
.admin__fieldset > .admin__field > .admin__field-control{float: right !important;}
.page-main-actions .page-actions._fixed{right: 8.81rem !important; left: 0;}
.admin__control-addon{padding-right: 1rem !important;}
.action-select-wrap .action-select{text-align: right !important;left: 0 !important;}
.action-menu .action-menu-item{text-align: right !important;}
.selectmenu-item-action{padding:1rem 1.5rem 1rem 6rem !important}
.action-multicheck-wrap .action-menu{right: -1.1rem !important; left: auto !important}
.admin__addon-prefix span{	position: absolute !important;    left: 0;    padding-left: 1em;}
.action-select-wrap .action-select:before{left: 0 !important;right: revert !important}
.action-select-wrap .action-select:after{left: 1.2rem !important;right: revert !important}
.admin__control-select:active{background-position: 6px calc(12px), 0, calc(100% + 3.2rem) 0 !important}
.admin__control-select{background-position: 6px calc(-34px), 0, calc(100% + 3.2rem) 0 !important;}
.admin__actions-switch-label{right: 35px;}
.admin__actions-switch-text{position: absolute;right: 5px;}
.admin__field.admin__field-small .admin__control-text{right: auto;position: absolute !important}
.admin__field.admin__field-small > div.admin__field-control{position: static;}
#container > div:nth-child(1) > div.entry-edit.form-inline > div:nth-child(1) > div > fieldset > fieldset:nth-child(12) > div > div.admin__field.admin__field-small > div.admin__field-control{left: 63.3rem;}
#container > div:nth-child(1) > div.entry-edit.form-inline > div:nth-child(1) > div > fieldset > fieldset:nth-child(11) > div > div.admin__field.admin__field-small > div.admin__field-control{left: left: 54rem;}
.admin__action-multiselect-wrap .admin__action-multiselect{padding-right: initial !important;}
.admin__control-select{padding-right: 1rem !important;padding-left: 4rem !important;}
.admin__data-grid-filters-wrap .admin__form-field-legend{text-align: right !important;}
.admin__data-grid-filters-wrap .admin__form-field-label{text-align: right !important;}
.admin__control-checkbox + .admin__field-label{padding-left: 10rem !important;}
/*.admin__control-checkbox + .admin__field-label:before{margin: 1px 1rem 0 -9.6rem !important;}*/
.page-main-actions .page-actions._fixed{left: 0 !important;}
#regular-category-settings > div.merchandiser-toolbar > div > select{float: left;}
#catalog_category_sort_products_tabs{float: left;}
#ext-gen5{padding: 0 !important}
#container > div > div:nth-child(2) > div.entry-edit.form-inline > div:nth-child(3) > div.admin__fieldset-wrapper-content.admin__collapsible-content._show > fieldset > fieldset:nth-child(5) > div > div.admin__field.admin__field-small._required > div.admin__field-control{position: revert !important}
.sticky-header{left: 0 !important;}
.admin__page-nav-link{padding-right: 1rem !important;}
.admin__data-grid-filters-wrap .admin__form-field .admin__form-field .admin__form-field-label{width: 20% !important;}
.page-actions-buttons, .page-actions.floating-header{float: left !important;}
.page-header .page-header-hgroup{width: auto; }
.page-header .page-header-actions{width: 20%; }
.field-username .admin__field-control{margin-left: 0px;padding-right: 20px;}
.field-password .admin__field-control{margin-left: 0px;padding-right: 28px;}
.data-grid-cell-content{text-align: right;}
.dashboard-advanced-reports-actions{text-align: left !important;}
.store-switcher{float: right !important;}
.data-grid-search-control-wrap{float: right !important;}
.data-grid-filters-actions-wrap{float: left !important;}
.admin__data-grid-actions-wrap{float: left !important;}
#container > div.admin__data-grid-outer-wrap > div.admin__data-grid-header > div.admin__data-grid-header-row.row.row-gutter > div.col-xs-2{float: right !important;}
.admin__data-grid-pager-wrap{float: left !important;}
#container > div.admin__data-grid-outer-wrap > div.admin__data-grid-header > div.admin__data-grid-header-row.row.row-gutter > div.col-xs-10 > div > div.col-xs-3{float: right !important;}
.admin__data-grid-pager{margin-left: 0 !important;}
.admin__data-grid-toolbar .admin__data-grid-export {float: left !important;}
.data-grid th {background-color: #514943;border: 0.1rem solid #8a837f;border-left-color: transparent;color: #ffffff;font-weight: 600;padding: 0;text-align: right !important;}
.selectmenu-value input[type='text'] {-webkit-appearance: none;-moz-appearance: none;-ms-appearance: none;appearance: none;border: 0;display: inline;margin: 0;width: 6rem;text-align: -webkit-match-parent;}
.admin__action-dropdown-wrap .admin__action-dropdown-menu {left: 0 !important;right: auto !important;}
._has-datepicker + .ui-datepicker-trigger {background-image: none;background: none;-moz-box-sizing: content-box;border: 0;box-shadow: none;line-height: inherit;margin: 0;padding: 0;text-shadow: none;font-weight: 400;text-decoration: none;display: inline-block;height: 3.2rem;margin-right: -3.2rem !important;overflow: hidden;position: absolute;vertical-align: top;z-index: 1;}
.sticky-header {background-color: #f8f8f8;border-bottom: 1px solid #e3e3e3;box-shadow: 0 5px 5px 0 rgb(0 0 0 / 25%);right: 8.800000000000001rem !important;margin-top: -1px;padding: 0.5rem 3rem 0;position: fixed;left: 0 !important;top: 77px;z-index: 398;}
.catalog-product-edit .admin__addon-suffix:last-child {
    padding-right: 10rem;
}
.catalog-product-new .admin__addon-suffix:last-child {
    padding-right: 10rem;
}