<!--
/**
 * Template for Admin Product Edit
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "(Alert) You need to take an action. A product needs your review on ARB marketplace"}} @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->

{{template config_path="design/email/header_template"}}

<p>{{trans "Hello"}} {{var myvar3}}</p>
<br>
<p>{{trans "You need to take an action on ARB marketplace, there is a product need your review on the market so it can be published successfully."}}</p>
<p>{{trans "You can review the product from here"}} <a href="{{var product_approval_url}}">{{var product_approval_url}}</a></p>
<p>{{trans "You are kindly request to finish review and publish the product on the market before"}} {{var sla_time}}</p>
<br>
<p>{{trans "Thanks a lot."}}</p>

{{template config_path="design/email/footer_template"}}