<!--
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Marketplace
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
-->
<!--@subject {{trans "You have a product %product_name reached its low stock on ARB Marketplace with number %stockItemQty" product_name=$product_name stockItemQty=$stockItemQty}}  @-->
<!--@vars {
"var this.getUrl($store, 'marketplace/account/login')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
}
 @-->
<!--@styles
.picture-merchant-logo { max-width:200px; }
.email {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
margin-top: 0; margin-bottom: 10px;
}
@-->


{{template config_path="design/email/header_template"}}

    <p class="email">{{trans "Hello"}} {{var seller_name}}</p>
    <p class="email">{{trans "There is a product %product_name in your store catalog has reached its minimum stock number %stockItemQty"
        product_name=$product_name stockItemQty=$stockItemQty}}</p>
    <p class="email">{{trans "You can take an action now from here"}} <a href="{{var my_products_list_url}}">{{var my_products_list_url}}</a></p>
    <p class="email">{{trans "We hope to a successful trade on Alrajhi Marketplace."}}</p>

    <p class="email">{{trans "ARB hotline for Merchants: 1999."}}</p>


{{template config_path="design/email/footer_template"}}
