<!--
/**
 * Template for Customer Order Approve for English
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "Congratulations , Your Order #%order_increment_id is Confirmed by the merchant %merchant_name on ARB Marketplace" order_increment_id=$order_increment_id merchant_name=$merchant_name}}  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
<!--@styles
.column-order-details { background-color:#EAEAEA; font-size:13px; padding:5px 9px 6px 9px; line-height:1em; }
.picture-merchant-logo { max-width:200px; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->

{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "Hello"}} {{var customer_name}} </p>
<p class="email-p">{{trans "We are very glad to inform you that %merchant_name has confirmed your order %order_increment_id"
    merchant_name=$merchant_name order_increment_id=$order_increment_id}} </p>
<p class="email-p">{{trans "Your order has been confirmed. You will be notified when the courier picks it up!"}} </p>
<p class="email-p">{{trans "Here is your order summary"}} </p>
<p class="email-p">{{trans "Order Number ID"}} {{var order_increment_id}} </p>
<p class="email-p">{{trans "Payment method"}} {{var payment_method}} </p>
<p class="email-p">{{trans "Items ordered"}} {{var items_number}} </p>
<p class="email-p">{{trans "Total amount"}} {{var total_amount}} </p>
<p class="email-p">{{trans "Merchant Name"}} {{var merchant_name}} <img class="picture-merchant-logo" alt="merchant_logo" src="{{var merchant_logo}}"/></p>
<p class="email-p">{{trans "Merchant Service number"}} {{var merchant_service_number}} </p>
<br>
<p class="email-p">{{trans "Here is your Order Details:"}}</p>
<p class="email-p">{{trans "Shipment 1 of 1"}}</p>
<table dir="{{var email_content_direction}}">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <tbody>
                <tr>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Product picture"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Product name"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Price"}}
                    </th>
                </tr>
                {{var order_details|raw}}
                </tbody>
            </table>
        </td>
    </tr>
</table>
<br>
<p class="email-p">{{trans "Shipping Fees"}} {{var shipping_fees}}</p>
<p class="email-p">{{trans "Grand Total"}} {{var grand_total}}</p>
<br>
<p class="email-p">{{trans "Your Order will be shipped to:"}}</p>
<p class="email-p">{{trans "Delivery Address :"}} {{var delivery_address}}</p>
<p class="email-p">{{trans "Customer Mobile# :"}} {{var customer_mobile}}</p>
<br>
<p class="email-p">{{trans "We hope you enjoyed shopping on ARB marketplace , and we are looking for your next order"}}</p>

{{template config_path="design/email/footer_template"}}