<!--
/**
 * Template for Customer Order Approve for Arabic
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "تهانينا ، تم تأكيد طلبك رقم %order_increment_id بواسطة التاجر %merchant_name في ARB Marketplace" order_increment_id=$order_increment_id merchant_name=$merchant_name}}  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
<!--@styles
.column-order-details { background-color:#EAEAEA; font-size:13px; padding:5px 9px 6px 9px; line-height:1em; }
.picture-merchant-logo { max-width:200px; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->

{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "مرحبًا"}} {{var customer_name}}</p>
<p class="email-p">{{trans "يسعدنا جدًا أن نخبرك بأن %merchant_name أكد طلبك %order_increment_id"
    merchant_name=$merchant_name order_increment_id=$order_increment_id}} </p>
<p class="email-p">{{trans "تم تأكيد طلبك. سيتم إعلامك عندما يستلمه موصل الطلبات !"}} </p>
<p class="email-p">{{trans "هنا ملخص طلبك"}} </p>
<p class="email-p">{{trans "معرف رقم الطلب"}} {{var order_increment_id}} </p>
<p class="email-p">{{trans "طريقة الدفع"}} {{var payment_method}} </p>
<p class="email-p">{{trans "العناصر المطلوبة"}} {{var items_number}} </p>
<p class="email-p">{{trans "المبلغ الإجمالي"}} {{var total_amount}} </p>
<p class="email-p">{{trans "اسم التاجر"}} {{var merchant_name}} <img class="picture-merchant-logo" alt="merchant_logo" src="{{var merchant_logo}}"/></p>
<p class="email-p">{{trans "رقم خدمة التاجر"}} {{var merchant_service_number}} </p>
<br>
<p class="email-p">{{trans "هنا تفاصيل طلبك:"}}</p>
<p class="email-p">{{trans "الشحنة 1 من 1"}}</p>
<table>
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <tbody>
                <tr>
                    <th align="left" class="column-order-details">
                        {{trans "صورة المنتج"}}
                    </th>
                    <th align="left" class="column-order-details">
                        {{trans "اسم المنتج"}}
                    </th>
                    <th align="left" class="column-order-details">
                        {{trans "السعر"}}
                    </th>
                </tr>
                {{var order_details|raw}}
                </tbody>
            </table>
        </td>
    </tr>
</table>
<br>
<p class="email-p">{{trans "رسوم الشحن'"}} {{var shipping_fees}}</p>
<p class="email-p">{{trans "المجموع الكلي"}} {{var grand_total}}</p>
<br>
<p class="email-p">{{trans "المجموع الكلي"}}</p>
<p class="email-p">{{trans "عنوان التسليم:"}} {{var delivery_address}}</p>
<p class="email-p">{{trans "رقم هاتف العميل:"}} {{var customer_mobile}}</p>
<br>
<p class="email-p">{{trans "نأمل أن تكون قد استمتعت بالتسوق في سوق ARB ، ونحن نبحث عن طلبك التالي"}}</p>

{{template config_path="design/email/footer_template"}}