<!--
/**
 * Template for Customer Order Approve
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "Congratulations, Your Order #%order_increment_id is Delivered Successfully by the merchant %merchant_name on ARB Marketplace" order_increment_id=$increment_id merchant_name=$seller_data.merchant_name}}  @-->
<!--@vars {
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
<!--@styles
.column-order-details { background-color:#EAEAEA; font-size:13px; padding:5px 9px 6px 9px; line-height:1em; }
.picture-merchant-logo { max-width:200px; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->

{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "Hello"}} {{var customer_name}}</p>

<p class="email-p">{{trans "We are very happy to inform you that %merchant_name has delivered your order %order_increment_id successfully." order_increment_id=$increment_id merchant_name=$seller_data.merchant_name}}
<p class="email-p">{{trans "As Your order has been delivered we would like you to take a moment to rate the merchant and delivery process on the following link"}}<p>
<p class="email-p"><a href="https://www.alrajhibank.com.sa/">{{trans "Survey Link"}}</a></p>
<p class="email-p">{{trans "Here is your order summary"}} </p>
<p class="email-p">{{trans "Order Number ID"}} {{var increment_id}} </p>
<p class="email-p">{{trans "Payment method"}} {{var payment_method}} </p>
<p class="email-p">{{trans "Items ordered"}} {{var item_count}} {{trans "in"}} {{var shipments_count}}</p>
<p class="email-p">{{trans "Total amount"}} {{var total_amount}} </p>
<p class="email-p">{{trans "Merchant Name"}} {{var seller_data.merchant_name}} <img class="picture-merchant-logo" alt="merchant_logo" src="{{var seller_data.merchant_logo}}"/></p>
<p class="email-p">{{trans "Merchant Service number"}} {{var seller_data.merchant_contact}} </p>
<br>
<p class="email-p">{{trans "Your Order will be shipped to:"}}</p>
<p class="email-p">{{trans "Delivery Address :"}} {{var formattedShippingAddress}}</p>
<p class="email-p">{{trans "Customer Mobile# :"}} {{var customer_mobile}}</p>
<br>
<p class="email-p">{{trans "We hope you enjoyed shopping on ARB marketplace, and we are looking for your next order"}}</p>

{{template config_path="design/email/footer_template"}}