<!--
/**
 * Template for Order Cancel Notification
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "Your Order #%order_increment_id has been Cancelled by the merchant %merchant_name on ARB Marketplace" order_increment_id=$order_increment_id merchant_name=$merchant_name}}  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
<!--@styles
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->

{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "Hello"}} {{var customer_name}}</p>
<p class="email-p">{{trans "We are very sorry  to inform you that %merchant_name has Cancelled your order %order_increment_id ." merchant_name=$merchant_name order_increment_id=$order_increment_id}} </p>
<br>
<p class="email-p">{{trans "Here is your order summary"}} </p>
<p class="email-p">{{trans "Order Number ID"}} {{var order_increment_id}} </p>
<p class="email-p">{{trans "Payment method"}} {{var payment_method}} </p>
<p class="email-p">{{trans "Items ordered"}} {{var items_number}} </p>
<p class="email-p">{{trans "Total amount"}} {{var total_amount}} </p>
<p class="email-p">{{trans "Merchant Name"}} {{var merchant_name}} <img alt="merchant_logo" src="{{var merchant_logo}}"/> </p>
<p class="email-p">{{trans "Merchant Service number"}} {{var merchant_service_number}} </p>
<p class="email-p">{{trans "Cancelled Reason"}} {{var cancel_reason}} </p>
<br>
<p class="email-p">{{trans "We will return back your money soon on the same payment method you used in the purchase process."}}</p>
<br>
<p class="email-p">{{trans "We hope you enjoyed shopping on ARB marketplace , and we are looking for your next order"}}</p>

{{template config_path="design/email/footer_template"}}