<!--
/**
 * Template for Order Placed Seller Notification
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
-->
<!--@subject {{trans "You Have New Order for you on ARB Market place"}} @-->
<!--@vars
{"store url=\"\"":"Store Url",
"skin url=\"images/logo_email.gif\" _area='frontend'":"Email Logo Image"}
@-->
<!--@styles
body,td { color:#2f2f2f; font:11px/1.35em Verdana, Arial, Helvetica, sans-serif; }
.column-order-details { background-color:#EAEAEA; font-size:13px; padding:5px 9px 6px 9px; line-height:1em; }
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->
{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "Hello"}} {{var myvar3}},</p>
<p class="email-p">{{trans "We are glad to inform you that a valued customer decided to purchase one of your products."}}</p>
<br>
<p class="email-p">{{trans "Kindly find your new Order detail on the following link:"}} <a href="{{var order_url}}">{{var order_url}}</a></p>
<p class="email-p">{{trans "Kindly Confirm the order status before :"}} {{var sla_time}}</p>
<p class="email-p">{{trans "Here is your order Summary:"}}</p>
<p class="email-p">{{trans "Order ID :"}} {{var myvar1}}</p>
<table dir="{{var email_content_direction}}">
    <tr>
        <td>
            <table cellspacing="0" cellpadding="0" border="0" width="650">
                <tbody>
                <tr>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Product Name"}}
                    </th>
                    <th align="{{var email_content_alignment}}" class="column-order-details">
                        {{trans "Quantity"}}
                    </th>
                </tr>
                {{var order_details|raw}}
                </tbody>
            </table>
        </td>
    </tr>
</table>
<br>
<p class="email-p">{{trans "Congratulation on new Order and We hope to have a successful trade on  Alrajhi Marketplace."}}</p>
<br>
<p class="email-p">{{trans "ARB hotline for Merchants: 1999."}}</p>

{{template config_path="design/email/footer_template"}}
