<!--@subject {{trans "Your product upload on ARB Marketplace have new status update"}}  @-->
<!--@vars {
"var this.getUrl($store, 'customer/account/')":"Customer Account URL",
"var customer.email":"Customer Email",
"var customer.name":"Customer Name"
} @-->
<!--@styles
.email-p {
text-align:{{var email_content_alignment}};
direction:{{var email_content_direction}};
}
@-->

{{template config_path="design/email/header_template"}}

<p class="email-p">{{trans "Hello"}} {{var myvar5}}</p>
<p class="email-p">{{trans "Your recent product/s that you uploaded on ARB Marketplace has a new status, Kindly find the result of the update here"}} <a href="{{var my_products_list_url}}">{{var my_products_list_url}}</a></p>
<p class="email-p">{{trans "Product name:"}} {{var product_name}}</p>
<p class="email-p">{{trans "Product sku:"}} {{var product_sku}}</p>
<p class="email-p">{{trans "Product status:"}} {{var product_status}}</p>
<p class="email-p">{{trans "We hope to a successful trade on Alrajhi Marketplace."}}</p>

<p class ="email-p">{{trans "ARB hotline for Merchants: 1999."}}</p>

{{template config_path="design/email/footer_template"}}