<?php
/**
 * Webkul Software.
 *
 * @category  Webkul
 * @package   Webkul_Mpreportsystem
 * @author    Webkul
 * @copyright Copyright (c) Webkul Software Private Limited (https://webkul.com)
 * @license   https://store.webkul.com/license.html
 */
?>
<?php
$data = $block->getParamValues();
$data['filter'] = 'year';
$sellerArray = $block->getSellerArray();
// $salesImage = $block->getsalesAmount($data);
// $countrySalesImage = $block->getCountrySales($data);
// $productSalesImage = $block->getProductSales($data);
//$salesCollection = $block->getSalesCollection($data);
$categoriesCollection = $block->getCategoriesCollection(1);
$orderStatusArray = $block->getOrderStatus();
$dateErrorMessage = __('Start date must be prior than end date.');
$ajaxErrorMessage = __('There is some error during executing this process, please try again later.');
$chartErrorMessage = __('No Data Found');
?>
<span class="wk-category-dropdown wk-category-dropdown--open" dir="ltr" style="width: 300px;display:none;">
    <span class="wk-category-results">
        <select multiple="multiple" class="wk-select-box-multi-select" name='categories[]'
        id="wk-category-multi-select">
            <?php foreach ($categoriesCollection as $key => $category) {
                $selected = 0;
                if (array_key_exists('categories', $data) &&
                is_array($data['categories']) &&
                in_array($key, $data['categories'])) {
                    $selected = 1;
                }
                ?>
                <option class="wk-category-results-option"
                <?= $block->escapeHtml(($selected==1))?'selected=selected':''?>
                value="<?= $block->escapeHtml($key)?>" role="treeitem" aria-selected="false">
                    <?= $block->escapeHtml($category)?>
                </option>
            <?php }
            ?>
        </select>
    </span>
</span>
<span class="wk-orderstatus-dropdown wk-orderstatus-dropdown--open" dir="ltr" style="width: 300px;display:none;">
    <span class="wk-category-results">
        <select multiple="multiple" class="wk-select-box-multi-select" name='orderstatus[]' id="wk-order-multi-select">
            <?php foreach ($orderStatusArray as $orderKey => $orderStatus) {
                $selected = 0;
                if (array_key_exists('orderstatus', $data) &&
                is_array($data['orderstatus']) &&
                in_array($orderKey, $data['orderstatus'])) {
                    $selected = 1;
                }
                ?>
                <option class="wk-orderStatus-results-option"
                    <?= $block->escapeHtml(($selected))?'selected=selected':''?>
                    value="<?= $block->escapeHtml($orderKey)?>" role="treeitem" aria-selected="false">
                        <?= $block->escapeHtml(__($orderStatus))?>
                    </option>
            <?php }?>
        </select>
    </span>
</span>
<div class="wk-mp-design">
    <fieldset class="fieldset info wk-mp-fieldset">
        <legend class="legend">
            <span><?= $block->escapeHtml(__('Sales and Orders')) ?></span>
        </legend>
        <div class="wkreport_header wk_sales_graph_outer">
            <form 
                action="<?= $block->escapeHtml($block->getUrl(
                    'mpreportsystem/report/index',
                    [
                        '_secure' => $block->getIsSecure()
                    ]
                )) ?>"
                method="get"
                id="generate-report">
                <div class="wk-report-select-box-head">
                    <div class="wk-seller-wrapper wk-display-ib wk-col-4 wk-float-left">
                        <div class="wk-select-box">
                            <select class="wk-select-box-multi-select wk-select-box"
                                name='seller_id' id="wk-seller-multi-select">
                                <option class="wk-seller-results-option" value="">
                                    <?= $block->escapeHtml(__('Select Seller'))?>
                                </option>
                                <?php foreach ($sellerArray as $sellerId => $seller) {
                                    $selected = 0;
                                    if (array_key_exists('seller_id', $data) && $data['seller_id']==$sellerId) {
                                        $selected = 1;
                                    }
                                    ?>
                                    <option class="wk-seller-results-option"
                                    <?= $block->escapeHtml(($selected==1))?'selected=selected':''?>
                                    value="<?= $block->escapeHtml($sellerId)?>" role="treeitem" aria-selected="false">
                                        <?= $block->escapeHtml($seller)?>
                                    </option>
                                <?php }
                                ?>
                            </select>
                        </div>
                    </div>
                    <div class="wk-categories-wrapper wk-display-ib wk-col-4 wk-float-left">
                        <div class="wk-categories">
                            <div class="wk-select-box">
                                <?php
                                $categoryCount = 0;
                                if (array_key_exists('categories', $data) && is_array($data['categories'])) {
                                    $categoryCount = count($data['categories']);
                                } ?>
                                <label class="wk-categories-label">
                                    <?= $block->escapeHtml(__('Choose categories (%1)', $categoryCount))?>
                                </label>
                                <label class="wk-select-arrow-up"></label>
                            </div>
                            <span class="wk_categories-options wk-search-result-dropdown" style="display:none;"></span>
                        </div>
                    </div>
                    <div class="wk-order-status-wrapper wk-display-ib wk-col-4 wk-float-left">
                        <div class="wk-order-status">
                            <div class="wk-select-box">
                                <?php
                                $orderStatusCount = 0;
                                if (array_key_exists('orderstatus', $data) && is_array($data['orderstatus'])) {
                                    $orderStatusCount = count($data['orderstatus']);
                                } ?>
                                <label class="wk-order-label">
                                    <?= $block->escapeHtml(__('Choose Order Status (%1)', $orderStatusCount))?>
                                </label>
                                <label class="wk-select-arrow-up"></label>
                            </div>
                            <span class="wk_orders-options wk-search-result-dropdown" style="display:none;"></span>
                        </div>
                    </div>
                    <div class="wk-filter-button-wrapper wk-display-ib wk-col-4 wk-float-left">
                        <button class="action primary">
                            <span><?= $block->escapeHtml(__('Generate Reports'))?></span>
                        </button>
                    </div>
                </div>
                <div class="wk-filter-selected-data">
                    <?php
                    if (array_key_exists('categories', $data) && is_array($data['categories'])) {
                        foreach ($data['categories'] as $key => $value) {
                            $categoryName = $block->getCategoryName($value); ?>
                            <div class="wk-filter-data-div wk-border-blue">
                                <span><?= $block->escapeHtml($categoryName)?></span>
                                <div class="wk-filter-cross wk-bg-blue-color"
                                value='<?= $block->escapeHtml($value)?>'>X</div>
                            </div>
                    <?php }
                    }
                    if (array_key_exists('orderstatus', $data) && is_array($data['orderstatus'])) {
                        foreach ($data['orderstatus'] as $key => $value) {
                            $orderStatusName = $orderStatusArray[$value] ?>
                            <div class="wk-filter-data-div wk-border-green">
                                <span><?= $block->escapeHtml($orderStatusName)?></span>
                                <div class="wk-filter-cross wk-bg-green-color"
                                value='<?= $block->escapeHtml($value)?>'>X</div>
                            </div>
                    <?php }
                    }
                    ?>
                </div>
                <div class="legend"></div>
                <div class="wk_graph_border">
                    <div class="wk-date-filter-div">
                        <div class="wk-date-subdiv">
                            <input type="text"
                            placeholder="<?= $block->escapeHtml(__('Start On Date'))?>"
                            id="wk_report_date_start"
                            class="wk_date_filter_text required-entry" name="wk_report_date_start"
                            value='<?= $block->escapeHtml(
                                (array_key_exists("wk_report_date_start", $data))?$data["wk_report_date_start"]:""
                            )?>'>
                        </div>
                        <div class="wk-date-subdiv">
                            <input type="text"
                            placeholder="<?= $block->escapeHtml(__('End On Date'))?>"
                            id="wk_report_date_end"
                            class="required-entry wk_date_filter_text"
                            name="wk_report_date_end"
                            value="<?= $block->escapeHtml(
                                (array_key_exists("wk_report_date_end", $data))?$data['wk_report_date_end']:''
                            )?>">
                        </div>
                        <button class="action primary wk_reportfilter_btn">
                            <span><?= $block->escapeHtml(__('Filter Result'))?></span>
                        </button>
                        <button class="action primary wk_reportexport_btn">
                            <span><?= $block->escapeHtml(__('Export csv'))?></span>
                        </button>
                    </div>
                    <?= $block->getChildHtml('salesgrid')?>
                </div>
            </form>
        </div>
    </fieldset>
</div>
<?php
$formData = [
    'chartErrorMessage' => $chartErrorMessage,
    'ajaxErrorMessage' => $ajaxErrorMessage,
    'dateErrorMessage' => $dateErrorMessage,
    'wkSelectBox'    =>    '.wk-select-box',
    'loaderimage'    => $block->getViewFileUrl('images/loader-1.gif'),
    'topsellingproductajax'    =>    '.wk_selling_graph .wk-filter-buttons',
    'topsellingfilterurl'    =>    $block->getUrl(
        'mpreportsystem/report/productfilter',
        ['_secure' => $block->getIsSecure()]
    ),
    'geolocationfilterajax'    =>    '.wk_location_graph .wk-filter-buttons',
    'geolocationfilterurl'    =>    $block->getUrl(
        'mpreportsystem/report/geolocationfilter',
        ['_secure' => $block->getIsSecure()]
    ),
    'exportreporturl'  => $block->getUrl(
        'arb_rma/export/index',
        ['_secure' => $block->getIsSecure()]
    ),
    'categorymultiselect'    =>    '#wk-category-multi-select',
    'ordermultiselect'    =>    '#wk-order-multi-select',
    'productpiChart'    =>    '#wk-product-pie-chart',
    'geolocationChart'    =>    '#wk-location-chart',
    'salesfilterajax'    =>    '.wk_sales_graph_outer .wk-filter-button',
    'saleschart'        =>    '#wk-sales-chart',
    'salesfilterurl'    =>    $block->getUrl('mpreportsystem/report/salesfilter', ['_secure' => $block->getIsSecure()]),
    'crossfilterajax'    =>    '.wk-filter-cross',
    'wk_filter_btn'        =>    '.wk_reportfilter_btn',
    'wk_export_btn'     => '.wk_reportexport_btn',
    'baseurl' => $block->getBaseUrl(),
    'indexurl'    =>    $block->getUrl('mpreportsystem/report/index', ['_secure' => $block->getIsSecure()]),
    'loginurl'    =>    $block->getUrl('customer/account/login', ['_secure' => $block->getIsSecure()])
];
$serializedFormData = $block->jsonEncode($formData);
?>
<script type="text/x-magento-init">
    {
        "*": {
            "WKreportsystemTest": <?= /* @noEscape */ $serializedFormData; ?>
        }
    }
</script>