<?php
/**
 * @var \Webkul\Marketplace\Block\Account\Navigation $block
 */
?>
<?php if ($this->helper(\Webkul\Marketplace\Helper\Data::class)->isSeller()): ?>
    <li class="wk-mp-item-reports level-0" id="wk-mp-menu-reports">
        <a href="#" onclick="return false;" class="">
            <span><?= $block->escapeHtml(__('Reports'))?></span>
        </a>
        <div class="wk-mp-submenu">
            <strong class="wk-mp-submenu-title"><?= $block->escapeHtml(__('Marketplace Reports'))?></strong>
            <a href="#" class="action-close _close" data-role="wk-mp-close-submenu"></a>
            <ul>
                <li data-ui-id="menu-webkul-reports-menu" class="item-menu parent level-1">
                    <strong class="wk-mp-submenu-group-title">
                        <span><?= $block->escapeHtml(__('Sales'))?></span>
                    </strong>
                    <div class="wk-mp-submenu">
                        <ul>
                            <li class="level-2">
                                <a href="<?= $block->escapeHtml($block->getUrl(
                                    'arbreports/sales/index',
                                    ['_secure' => $block->getRequest()->isSecure()]
                                )); ?>">
                                    <span><?= $block->escapeHtml(__('Sales Reports'))?></span>
                                </a>
                            </li>
                            <li class="level-2">
                                <a href="<?= $block->escapeHtml($block->getUrl(
                                    'arbreports/merchant/index',
                                    ['_secure' => $block->getRequest()->isSecure()]
                                )); ?>">
                                    <span><?= $block->escapeHtml(__('Merchant Reports'))?></span>
                                </a>
                            </li>
                            <li class="level-2">
                                <a href="<?= $block->escapeHtml($block->getUrl(
                                    'arbreports/inventory/index',
                                    ['_secure' => $block->getRequest()->isSecure()]
                                )); ?>">
                                    <span><?= $block->escapeHtml(__('Inventory Report'))?></span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
            </ul>
        </div>
    </li>
<?php endif; ?>
