<!--@subject {{var vendor_name|raw}}{{trans " - A new voucher file has been uploaded to Magento"}}  @-->
{{template config_path="design/email/header_template"}}
<table> 
    <tr class="email-intro"> 
        <td>
            <p class="greeting">Dear ARB Admin,</p>
        </td> 
    </tr> 
    <tr class="email-information"> 
        <td>
            <table class="query-details"> 
                <tr> 
                    <td class="details">
                        <p>{{var vendor_name|raw}} has uploaded a new file.</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Status: Successful
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Kindly login to your account to approve or reject.</p>
                    </td> 
                </tr> 
            </table>
        </td> 
    </tr>
</table>
{{template config_path="design/email/footer_template"}}