<!--@subject {{trans "Your E-voucher Rejected"}}@-->
{{template config_path="design/email/header_template"}}
<table> 
    <tr class="email-intro"> 
        <td>
            <p class="greeting">Dear ARB Partner,</p>
        </td> 
    </tr> 
    <tr class="email-information"> 
        <td>
            <table class="query-details"> 
                <tr> 
                    <td class="product-details">
                        <p>This email is to inform you that your recent voucher upload has been rejected by ARB Admin.</p>
                    </td>
                </tr>                
            </table>
        </td> 
    </tr>
</table>
{{template config_path="design/email/footer_template"}}