<!--@subject {{trans "Your E-voucher uploads Failed"}} @-->
{{template config_path="design/email/header_template"}}
<table> 
    <tr class="email-intro"> 
        <td>
            <p class="greeting">Dear ARB Partner,</p>
        </td> 
    </tr> 
    <tr class="email-information"> 
        <td>
            <table class="query-details"> 
                <tr> 
                    <td class="product-details">
                        <p>This email to inform you that some vouchers are not uploaded in your recent file upload. It could be due to one of the following reasons:</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            <ul>
                                <li>Duplicate Entries</li>
                                <li>Invalid Expiry Date</li> 
                            </ul>
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>
                            Reference Number: {{var reference_number|raw}}
                        </p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <p>Kindly review attached failed report and upload the file again.</p>
                    </td>
                </tr>
            </table>
        </td> 
    </tr>
</table>
{{template config_path="design/email/footer_template"}}