<?php
/**
 * Overridden View RMA template for Merchant to include decline reason
 *
 * @category Arb
 * @package Arb_CustomWebkul
 * @author Arb Magento Team
 *
 */
//@codingStandardsIgnoreFile
?>
<?php
$helper = $this->helper("Webkul\MpRmaSystem\Helper\Data");
$rmaDetails = $helper->getRmaDetails();
$orderRef = $rmaDetails->getOrderRef();
$orderId = $rmaDetails->getOrderId();
$order = $helper->getOrder($orderId);
$rmaId = $rmaDetails->getId();
$images = $helper->getImages($rmaId);
$date = $rmaDetails->getCreatedDate();
$conversations = $block->getAllConversations();
$date = $block->formatDate($date, \IntlDateFormatter::MEDIUM, true);
$sellerName = $helper->getCustomerName($rmaId, true);
$customerName = $helper->getCustomerName($rmaId, false);
$status = $rmaDetails->getStatus();
$finalStatus = $rmaDetails->getFinalStatus();
$resolutionType = $rmaDetails->getResolutionType();
$rmaStatus = $helper->getRmaStatusTitle($status, $finalStatus);
$sellerStatus = $helper->getSellerStatusTitle($rmaDetails->getSellerStatus());
$orderStatus = $helper->getOrderStatusTitle($rmaDetails->getOrderStatus());
$resolution = $helper->getResolutionTypeTitle($resolutionType);
$productDetails = $helper->getRmaProductDetails($rmaId);
$allStatus = $helper->getAllStatus($resolutionType);
$totalPrice = 0;
$orderUrl = $this->getUrl("marketplace/order/view/") . "id/" . $orderId;

$declineStatus = Webkul\MpRmaSystem\Helper\Data::SELLER_STATUS_DECLINED;
$declineReason = $rmaDetails->getDeclineReason();

?>
<div class="wk-mprma-container wk-mprma-view">
    <a href="<?php echo $this->getUrl('mprmasystem/seller/allrma'); ?>" class="wk-date-info">Back</a>
    <div class="wk-title">
        <?php echo __("RMA Details"); ?>
        <span class="wk-date-info"><?php echo $date; ?></span>
    </div>
    <form method="post" action="<?php echo $this->getUrl('mprmasystem/customer/create'); ?>" id="wk_new_rma_form"
          enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
        <fieldset class="fieldset wk-mprma-fieldset">
            <div class="field">
                <label for="Ordrer Id" class="label">
                    <span><?php echo __("Order Id"); ?></span>
                </label>
                <div class="control">
                    <a target="_blank" href="<?php echo $orderUrl; ?>"><?php echo $orderRef; ?></a>
                </div>
            </div>
            <div class="field">
                <label for="Status" class="label">
                    <span><?php echo __("Status"); ?></span>
                </label>
                <div class="control">
                    <div class="wk-row"><span><?php echo __("RMA Status"); ?> :</span> <?php echo $rmaStatus; ?></div>
                    <div class="wk-row"><span><?php echo __("Seller Status") ?> :</span> <?php echo $sellerStatus; ?>
                    </div>
                    <?php if ($rmaDetails->getOrderStatus() != Webkul\MpRmaSystem\Helper\Data::ORDER_NOT_APPLICABLE): ?>
                        <div class="wk-row"><span><?php echo __("Order Status"); ?> :</span> <?php echo $orderStatus; ?>
                        </div>
                    <?php endif; ?>
                    <?php if ($rmaDetails->getOrderStatus() == Webkul\MpRmaSystem\Helper\Data::ORDER_DELIVERED): ?>
                        <div class="wk-row">
                            <span><?php echo __("Consignment Number"); ?> :</span> <?php echo $rmaDetails->getNumber(); ?>
                        </div>
                    <?php endif; ?>
                </div>
            </div>
            <div class="field">
                <label for="Resolution Type" class="label">
                    <span><?php echo __("Resolution Type"); ?></span>
                </label>
                <div class="control">
                    <?php echo $resolution; ?>
                </div>
            </div>
            <div class="field">
                <label for="Additional Information" class="label">
                    <span><?php echo __("Additional Information"); ?></span>
                </label>
                <div class="control">
                    <?php echo $rmaDetails->getAdditionalInfo(); ?>
                </div>
            </div>
            <?php if ($resolutionType == \Webkul\MpRmaSystem\Helper\Data::RESOLUTION_REFUND): ?>
                <div class="field wk-refund-block wk-display-none">
                    <label for="Refund Details" class="label">
                        <span><?php echo __("Refund Details"); ?></span>
                    </label>
                    <div class="control">
                        <div class="wk-row">
                            <span><?php echo __("Refundable Amount"); ?> :</span>
                            <span class="wk-refundable-amount"></span>
                        </div>
                        <?php if ($rmaDetails->getRefundedAmount() > 0): ?>
                            <div class="wk-row">
                                <span><?php echo __("Refunded Amount"); ?> :</span>
                                <span class="wk-refunded-amount">
                                    <?php echo $order->formatPrice($rmaDetails->getRefundedAmount()); ?>
                                </span>
                            </div>
                        <?php endif; ?>
                    </div>
                </div>
            <?php endif; ?>
            <?php if (count($images) > 0): ?>
                <div class="field wk-lg">
                    <label for="Images" class="label">
                        <span><?php echo __("Images"); ?></span>
                    </label>
                    <div class="control">
                        <div id="preview">
                            <?php foreach ($images as $image): ?>
                                <div class="wk-showcase-block">
                                    <img src="<?php echo $image; ?>">
                                </div>
                            <?php endforeach; ?>
                        </div>
                    </div>
                </div>
            <?php endif; ?>
        </fieldset>
    </form>
</div>
<div class="wk-mprma-container wk-mprma-view">
    <div class="wk-title wk-close-title">
        <?php echo __("Change RMA Status"); ?>
    </div>
    <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
        <div class="field">
            <?php if ($finalStatus == 0): ?>
                <form method="post" action="<?php echo $this->getUrl('mprmasystem/rma/change'); ?>"
                      id="wk_rma_close_form" enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
                    <input type="hidden" value="<?php echo $rmaId; ?>" name="rma_id">
                    <div class="control">
                        <div class="wk-action-content"  style="width:50%">
                            <select id="seller_status" name="seller_status" data-validate="{required:true}"
                                    class="input-text required-entry">
                                <?php foreach ($allStatus as $key => $status): ?>
                                    <?php if ($rmaDetails->getSellerStatus() == $key): ?>
                                        <option value="<?php echo $key; ?>" selected><?php echo __($status); ?></option>
                                    <?php else: ?>
                                        <option value="<?php echo $key; ?>"><?php echo __($status); ?></option>
                                    <?php endif; ?>
                                <?php endforeach; ?>
                            </select>
                            <br><br>
                            <div id="wk-decline-field" style="display:none">
                                <label class="label">
                                    <span><?= $block->escapeHtml(__('Decline Reason')); ?></span>
                                </label>
                                <input id="decline-rma-reason"
                                       type="text"
                                       name="decline-rma-reason"
                                       class="required-entry input-text">
                            </div>
                        </div>
                        <div class="wk-action-btn">
                            <button title="Save" class="action save primary wk-save" type="submit">
                                <span><?php echo __("Save"); ?></span></button>
                        </div>
                    </div>
                </form>
            <?php else: ?>
                <?= $helper->getCloseRmaLabel($finalStatus, $sellerName); ?><br>
                <?php if ((int)$rmaDetails->getSellerStatus() === $declineStatus): ?>
                    <span><?= __("Reason"); ?>:</span> <?= $block->escapeHtml(__($declineReason)); ?>
                <?php endif; ?>
            <?php endif; ?>
        </div>
    </fieldset>
</div>
<?php if ($finalStatus == 0): ?>
    <?php if ($resolutionType == 1): ?>
        <div class="wk-mprma-container wk-mprma-view">
            <div class="wk-title wk-close-title">
                <?php echo __("Refund Amount"); ?>
            </div>
            <form method="post" action="<?php echo $this->getUrl('mprmasystem/rma/refund'); ?>" id="wk_rma_refund_form"
                  enctype="multipart/form-data" data-mage-init='{"validation":{}}'>
                <input type="hidden" value="<?php echo $rmaId; ?>" name="rma_id">
                <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
                    <div class="field">
                        <label for="Payment Type" class="label">
                            <span><?php echo __("Payment Type"); ?></span>
                        </label>
                        <div class="control">
                            <select id="payment_type" name="payment_type" data-validate="{required:true}"
                                    class="input-text required-entry">
                                <option value="1"><?php echo __("Full Amount"); ?></option>
                                <option value="2"><?php echo __("Partial Amount"); ?></option>
                            </select>
                            <div class="wk-partial-amount">
                                <input type="text" value="0" id="partial_amount" name="partial_amount"
                                       data-validate="{required:true}"
                                       class="validate-zero-or-greater input-text required-entry">
                            </div>
                        </div>
                        <div class="wk-refund-note">
                            <span class="wk-refund-label"><?php echo __("Total Refundable Amount"); ?> : </span>
                            <span class="wk-refund-amount"></span>
                        </div>
                        <div class="wk-action-btn">
                            <button title="Refund Offline" class="action save primary wk-refund" type="submit">
                                <span><?php echo __("Refund Offline"); ?></span></button>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
    <?php endif; ?>
<?php endif; ?>
<div class="wk-mprma-container wk-mprma-view">
    <div class="wk-title">
        <?php echo __("Item(s) Requested for RMA"); ?>
    </div>
    <div class="wk-table-wrapper">
        <table id="mprma-items-table" class="data table">
            <thead>
            <tr>
                <th class="col" scope="col"><?php echo __("Product Name"); ?></th>
                <th class="col" scope="col"><?php echo __("Sku"); ?></th>
                <th class="col" scope="col"><?php echo __("Price"); ?></th>
                <th class="col" scope="col"><?php echo __("Qty"); ?></th>
                <th class="col" scope="col"><?php echo __("Reason"); ?></th>
            </tr>
            </thead>
            <?php foreach ($productDetails as $product): ?>
                <?php
                $totalPrice += $helper->getItemFinalPrice($product);
                ?>
                <tbody>
                <tr>
                    <td class="col">
                        <?php echo $product->getName(); ?>
                        <?php echo $helper->getOptionsHtml($product); ?>
                    </td>
                    <td class="col"><?php echo $product->getSku(); ?></td>
                    <td class="col"><?php echo $order->formatPrice($product->getData("price")); ?></td>
                    <td class="col"><?php echo $product->getQty(); ?></td>
                    <td class="col"><?php echo $helper->getReasonById($product->getReasonId()); ?></td>
                </tr>
                </tbody>
            <?php endforeach; ?>
        </table>
    </div>
</div>
<?php if ($conversations->getSize()): ?>
    <div class="wk-mprma-container wk-mprma-view">
        <div class="wk-title">
            <?php echo __("Conversations"); ?>
        </div>
        <?php foreach ($conversations as $conversation): ?>
            <?php
            $date = $conversation->getCreatedTime();
            $date = $block->formatDate($date, \IntlDateFormatter::MEDIUM, true);
            $type = $conversation->getSenderType();
            if ($type == 1) {
                $text = __("Seller") . " : " . $sellerName;
                $class = "wk-mprma-seller-section";
            } elseif ($type == 2) {
                $text = __("Customer") . " : " . $customerName;
                $class = "wk-mprma-customer-section";
            } elseif ($type == 3) {
                $text = __("Guest");
                $class = "wk-mprma-customer-section";
            } else {
                $text = __("Administrator");
                $class = "wk-mprma-admin-section";
            }
            ?>
            <div class="wk-mprma-conversation">
                <div class="wk-mprma-conversation-head <?php echo $class; ?>">
                    <div class="wk-mprma-conversation-head-left">
                        <?php echo $date; ?>
                    </div>
                    <div class="wk-mprma-conversation-head-right">
                        <?php echo $text; ?>
                    </div>
                </div>
                <div class="wk-mprma-conversation-body">
                    <?php echo $block->escapeHtml($conversation->getMessage()); ?>
                </div>
            </div>
        <?php endforeach; ?>
        <?php if ($block->getPagerHtml()): ?>
            <div class="order-products-toolbar toolbar bottom"><?php echo $block->getPagerHtml(); ?></div>
        <?php endif ?>
    </div>
<?php endif ?>
<div class="wk-mprma-container wk-mprma-view">
    <div class="wk-title">
        <?php echo __("Send Message"); ?>
    </div>
    <form method="post" action="<?php echo $this->getUrl('mprmasystem/rma/conversation'); ?>"
          id="wk_rma_conversation_form" data-mage-init='{"validation":{}}'>
        <input type="hidden" value="1" name="sender_type">
        <input type="hidden" value="<?php echo $rmaId; ?>" name="rma_id">
        <fieldset class="fieldset wk-mprma-fieldset wk-close-filedset">
            <div class="field required">
                <label for="Enter Message" class="label">
                    <span><?php echo __("Enter Message"); ?></span>
                </label>
                <div class="control">
                    <textarea name="message" data-validate="{required:true}"
                              class="wk-rma-msg input-text required-entry validate-no-html-tags"></textarea>
                </div>
                <div class="wk-action-btn">
                    <button title="Save" class="action save primary wk-send" type="submit">
                        <span><?php echo __("Send Message"); ?></span></button>
                </div>
            </div>
        </fieldset>
    </form>
</div>
<?php
$data = $helper->jsonEncodeData([
    "totalPrice" => $totalPrice,
    "totalPriceWithCurrency" => $order->formatPrice($totalPrice),
    "errorMsg" => __("Partial amount can not be more then %1", $totalPrice),
    "warningLable" => __("Warning")
]);
?>
<script type="text/x-magento-init">
    {
        "body": {
            "Webkul_MpRmaSystem/js/rma": <?php echo $data ?>
        }
    }

</script>
<script>
    require([
        "jquery"
    ], function ($) {
        $('#seller_status').change(function () {
            let status = parseInt($(this).val());
            console.log(status);

            if (status === <?= $declineStatus ?>) {
                document.getElementById('wk-decline-field').style.display = "block";
            } else {
                document.getElementById('wk-decline-field').style.display = "none";
            }
        });
    });
</script>
